<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block th:include="fragments/admin_t :: head" />

<body id="page-top">

  <th:block th:include="fragments/admin_t :: nav" />

  <div id="wrapper">

    <th:block th:include="fragments/admin_t :: menu" />

    <div id="content-wrapper">

      <div class="container-fluid">

        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a th:href="@{/admin}" href="#">Escritorio</a></li>
          <li class="breadcrumb-item active">Artículos</li>
        </ol>

        <div class="container">

          <h1>Artículos <label th:text="${vendor.name}"></label></h1>

          <p>
            <a class="btn btn-primary btn-lg" th:href="@{/admin/articulosEdit}">Nuevo</a>
          </p>

          <!-- Tabla de Artículos -->
          <div class="card mb-3">
            <div class="card-header">
              <i class="fas fa-table"></i> Artículos
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered table-striped" id="dataTable">
                  <thead class="thead-dark">
                    <tr>
                      <th class="sorting_disabled">Acc</th>
                      <th class="order-column">Id</th>
                      <th>Código</th>
                      <th>Marca</th>
                      <th>Nombre</th>
                      <th>Descripción</th>
                      <th>Precio</th>
                      <th>Impuestos</th>                      
                      <th>Categoría</th>
                      <th>Tienda</th>
                      <th>Stock</th>
                      <th>Foto</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th class="sorting_disabled">Acc</th>
                      <th class="order_column">Id</th>
                      <th>Código</th>
                      <th>Marca</th>
                      <th>Nombre</th>
                      <th>Descripción</th>
                      <th>Precio</th>
                      <th>Impuestos</th>                      
                      <th>Categoría</th>
                      <th>Tienda</th>
                      <th>Stock</th>
                      <th>Foto</th>
                    </tr>
                  </tfoot>
                  <tbody>
                    <tr th:each="articulo : ${articulosList}">
                      <td class="align-items-center"><a class="fas fa-fw fa-edit"
                          th:href="@{/admin/articulosEdit/__${articulo.id}__}"></a> <a class="fas fa-fw fa-trash"
                          th:href="@{/admin/articulosDelete/__${articulo.id}__}"></a></td>
                      <td th:text="${articulo.id}"></td>
                      <td th:text="${articulo.code}"></td>
                      <td th:text="${articulo.brand.name}"></td>
                      <td th:text="${articulo.name}"></td>
                      <td th:text="${articulo.description}"></td>
                      <td th:text="${articulo.price}"></td>
                      <td th:text="${articulo.tax}"></td>                      
                      <td th:text="${articulo.category} == null ? '--' : ${articulo.category.name} "></td>
                      <td th:text="${articulo.vid}"></td>
                      <td th:text="${articulo.stock}"></td>
                      <td><img
                          th:src="${articulo.img} == '' or ${articulo.img} == null ? @{'/images/noimage.jpg'} : @{'/images/' + ${articulo.img}}"
                          width="50px" />
                        <p style="font-size: 0.7em" th:text="${articulo.img}"></p></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <th:block th:include="fragments/admin_t :: fechayhora" />
          </div>
        </div>

      </div>
      <!-- /.container-fluid -->

      <th:block th:include="fragments/admin_t :: copyright" />

    </div>
    <!-- /.content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <th:block th:include="fragments/admin_t :: footer" />

</body>

</html>