<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block th:include="fragments/admin_t :: head" />

<body id="page-top">

  <th:block th:include="fragments/admin_t :: nav" />

  <div id="wrapper">

    <th:block th:include="fragments/admin_t :: menu" />

    <div id="content-wrapper">

      <div class="container-fluid">

        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a th:href="@{/admin}" href="#">Escritorio</a></li>
          <li class="breadcrumb-item"><a th:href="@{/admin/articulos}" href="#">Artículos</a></li>
          <li class="breadcrumb-item active">Ficha artículo</li>
        </ol>

        <div class="container">

        	<h1>Artículos - <label th:text="${vendor.name}"></label></h1>

			<form class="form-group" th:object="${articulo}" th:action="@{/admin/articulosEdit}" method="post"
            	enctype="multipart/form-data">
            	
            	<input th:type="hidden" name="id" th:field="${articulo.id}" />

            <div class="row">
              <div class="col- col-md-6">
                <div class="form-group">
                  <label for="title">Código</label> <input type="text" class="form-control" th:field="*{code}"
                    th:class="${#fields.hasErrors('code')} ? 'form-control form-control-danger' : (*{code == null} ? 'form-control' : 'form-control form-control-success')"
                    placeholder="Introduce el código de artículo" required="required" />
                </div>
 
                <div class="form-group">
                  <label for="brand_id">Marca</label>
                  <select id="brand_id" th:value="${marcaid}" name="marcaid"
                    required="required">
                    <option th:each="i : ${brand}" th:value="${i.id}" th:text="${i.name}"
                    	th:selected="(${marcaid}==${i.id})" />
                  </select>
                </div>

                <div class="form-group">
                  <label for="title">Nombre</label> <input type="text" class="form-control" th:field="*{name}"
                    th:class="${#fields.hasErrors('name')} ? 'form-control form-control-danger' : (*{name == null} ? 'form-control' : 'form-control form-control-success')"
                    placeholder="Introduce el nombre del artículo" required="required" />
                </div>

                <div class="form-group">
                  <label for="content">Descripción</label>
                  <textarea class="form-control" id="content" th:field="*{description}"
                    th:class="${#fields.hasErrors('description')} ? 'form-control form-control-danger' : (*{description == null} ? 'form-control' : 'form-control form-control-success')"
                    placeholder="Introduce la descripción del artículo" required="required"></textarea>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label for="title">Precio</label> <input type="number" step="any" class="form-control" th:field="*{price}"
                    th:value="0" />
                </div>

                <div class="form-group">
                  <label for="title">Impuesto</label> <input th:type="number" step="any" class="form-control" th:field="*{tax}"
                    th:value="21.0" />
                </div>
 
                <div class="form-group">
					<label for="catid">Categoría</label>
					<select id="catid" th:value="${categoriaid}"  name="categoriaid"       		
                    	required="required">
	                    <option th:each="i : ${categories}" th:value="${i.id}" th:text="${i.name}"
	                    	th:selected="(${categoriaid}==${i.id})">
					</select>
                </div>

                <div class="form-group">
                  <label for="title">Stock</label> <input th:type="number" step="any" class="form-control" th:field="*{stock}" />
                </div>

                <div class="form-group">
                  <label for="art_img">Imagen</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="inputGroupFileAddon01">
                        <img id="img" name="img"                        
                          th:src="${articulo.img} == '' or ${articulo.img} == null ? @{'/images/noimage.jpg'} : @{'/images/' + ${articulo.img}}"
                          width="50px" />
                      </span>
                    </div>
                    <div class="custom-file">
                      <input type="file" id="file" name="file" class="custom-file-input" onchange="javascript:swap(this.files)">
                      <label id="lbl" for="file" th:text="${articulo.img} == '' ? 'Elige un fichero': ${articulo.img}"
                        class="custom-file-label"></label>
                    </div>
                  </div>

                  <script type="text/javascript">
                   function swap(e) {
                    document.getElementById('lbl').innerHTML = e.item(0).name;
                   }
                  </script>

                  <div class="form-group">
                    <input type="checkbox" th:object="${delImg}" name="delImg" id="delImg" th:checked="${delImg} ? 'true' : 'false'">
                    <label for="delImg">Eliminar imagen</label>
                  </div>
                </div>
              </div>
            </div>

            <button type="submit" class="btn btn-primary">Guardar</button>
            <a th:href="@{/admin/articulos}" class="btn btn-danger" role="button">Cancelar</a>
          </form>          

        </div>
      </div>
      <!-- /.container-fluid -->

      <th:block th:include="fragments/admin_t :: copyright" />

    </div>
    <!-- /.content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <th:block th:include="fragments/admin_t :: footer" />

</body>

</html>