<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block th:include="fragments/admin_t :: head" />

<body id="page-top">

	<th:block th:include="fragments/admin_t :: nav" />

	<div id="wrapper">

		<th:block th:include="fragments/admin_t :: menu" />

		<div id="content-wrapper">

			<div class="container-fluid">

				<!-- Breadcrumbs-->
				<ol class="breadcrumb">
					<li class="breadcrumb-item">
						<a th:href="@{admin}" href="#">Escritorio</a>
					</li>
					<li class="breadcrumb-item active">Inicio</li>
				</ol>

				<th:block th:include="fragments/admin_t :: iconcards" />
				<th:block th:include="fragments/admin_t :: charts" />
				<th:block th:include="fragments/admin_t :: tables" />

			</div>
			<!-- /.container-fluid -->

			<th:block th:include="fragments/admin_t :: copyright" />

		</div>
		<!-- /.content-wrapper -->

	</div>
	<!-- /#wrapper -->

	<th:block th:include="fragments/admin_t :: footer" />


</body>

</html>
