<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block th:include="fragments/admin_t :: head" />

<body id="page-top">

  <th:block th:include="fragments/admin_t :: nav" />

  <div id="wrapper">

    <th:block th:include="fragments/admin_t :: menu" />

    <div id="content-wrapper">

      <div class="container-fluid">

        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a th:href="@{/admin}" href="#">Escritorio</a></li>
          <li class="breadcrumb-item"><a th:href="@{/admin/articulos}" href="#">Marcas</a></li>
          <li class="breadcrumb-item active">Crear Marca</li>
        </ol>

        <div class="container">

          <h1>Marcas</h1>

          <form class="form-group" th:object="${marca}" th:action="@{/admin/marcasEdit}" method="post">
            <input th:type="hidden" name="id" th:field="*{id}" />

            <div class="row">
              <div class="col- col-md-6">
               
                <div class="form-group">
                  <label for="title">Nombre</label> <input type="text" class="form-control" th:field="*{name}" th:text="${err}"
                    th:class="${#fields.hasErrors('name')} ? 'form-control form-control-danger' : (*{name == null} ? 'form-control' : 'form-control form-control-success')"
                    placeholder="Introduce el nombre de marca" required="required" />
                </div>
               
              </div>
            </div>

            <button type="submit" class="btn btn-primary">Guardar</button>
            <a th:href="@{/admin/marcas}" class="btn btn-danger" role="button">Cancelar</a>
          </form>

        </div>
      </div>
      <!-- /.container-fluid -->

      <th:block th:include="fragments/admin_t :: copyright" />

    </div>
    <!-- /.content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <th:block th:include="fragments/admin_t :: footer" />

</body>

</html>