<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block th:include="fragments/admin_t :: head" />

<body id="page-top">

	<th:block th:include="fragments/admin_t :: nav" />

	<div id="wrapper">

		<th:block th:include="fragments/admin_t :: menu" />

		<div id="content-wrapper">

			<div class="container-fluid">

				<!-- Breadcrumbs-->
				<ol class="breadcrumb">
					<li class="breadcrumb-item">
						<a th:href="@{/admin}" href="#">Escritorio</a>
					</li>
					<li class="breadcrumb-item">
						<a th:href="@{/admin/ofertas}" href="#">Ofertas</a>
					</li>
					<li class="breadcrumb-item active">Ficha oferta</li>
				</ol>

				<div class="container">

					<h1>
						Ofertas
						<label th:text="${vendor.name}"></label>
					</h1>

					<form class="form-group" th:object="${ofertaForm}" th:action="@{/admin/ofertasEdit}" method="post">
						<input th:type="hidden" name="id" th:field="${ofertaForm.oferta.id}" />

						<div class="row">
							<div class="col- col-md-6">
								<div class="form-group">
									Artículo <select th:value="${ofertaForm.selectArticleId}" name="selectArticleId">
										<option th:each="article : ${articlesList}" th:value="${article.id}" th:utext="${article.name}"
											th:selected="(${ofertaForm.selectArticleId} == ${article.id})"
										/>
									</select>
								</div>

								<div class="form-group">
									<label for="title">Descuento %</label>
									<input type="text" class="form-control" th:field="*{oferta.descuento}"
										th:class="${#fields.hasErrors('oferta.descuento')} ? 'form-control form-control-danger' : (*{oferta.descuento == null} ? 'form-control' : 'form-control form-control-success')"
										placeholder="Introduce el descuento" required="required"
									/>
								</div>

								<div class="form-group">
									<label for="idinicio">Inicio</label>
									<input id="idinicio" type="text" class="form-control" th:field="*{oferta.inicio}"
										th:class="${#fields.hasErrors('oferta.inicio')} ? 'form-control form-control-danger' : (*{oferta.inicio == null} ? 'form-control' : 'form-control form-control-success')"
										placeholder="Introduce la fecha de inicio" required="required"
									/>
								</div>

								<div class="form-group">
									<label for="idfin">Fin</label>
									<input id="idfin" type="text" class="form-control" th:field="*{oferta.fin}"
										th:value="${#calendars.format(fin,'dd/MM/yyyy')}"
										th:class="${#fields.hasErrors('oferta.fin')} ? 'form-control form-control-danger' : (*{oferta.fin == null} ? 'form-control' : 'form-control form-control-success')"
										placeholder="Introduce la fecha de fin" required="required"
									/>
								</div>
							</div>
						</div>

						<button type="submit" class="btn btn-primary">Guardar</button>
						<a th:href="@{/admin/ofertas}" class="btn btn-danger" role="button">Cancelar</a>
					</form>

				</div>
			</div>
			<!-- /.container-fluid -->

			<th:block th:include="fragments/admin_t :: copyright" />

		</div>
		<!-- /.content-wrapper -->

	</div>
	<!-- /#wrapper -->

	<th:block th:include="fragments/admin_t :: footer" />

</body>

</html>