<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block th:include="fragments/admin_t :: head" />

<body id="page-top">

	<th:block th:include="fragments/admin_t :: nav" />

	<div id="wrapper">

		<th:block th:include="fragments/admin_t :: menu" />

		<div id="content-wrapper">

			<div class="container-fluid">

				<!-- Breadcrumbs-->
				<ol class="breadcrumb">
					<li class="breadcrumb-item">
						<a th:href="@{/admin}" href="#">Escritorio</a>
					</li>
					<li class="breadcrumb-item active">Ofertas</li>
				</ol>

				<div class="container">

					<h1>Ofertas <label th:text="${vendor.name}"></label></h1>

					<p>
						<a class="btn btn-primary btn-lg" th:href="@{/admin/ofertasEdit}">Nuevo</a>
					</p>

					<!-- Tabla de Ofertas -->
					<div class="card mb-3">
						<div class="card-header">
							<i class="fas fa-table"></i>Ofertas
						</div>
						<div class="card-body">
							<div class="table-responsive">
								<table class="table table-bordered table-striped" id="dataTable">
									<thead class="thead-dark">
										<tr>
											<th class="sorting_disabled">Acc</th>
											<th class="order-column">Id</th>
											<th>Producto</th>
											<th>Descuento</th>
											<th>Inicio</th>
											<th>Fin</th>
										</tr>
									</thead>
									<tfoot>
										<tr>
											<th class="sorting_disabled">Acc</th>
											<th class="order_column">Id</th>
											<th>Producto</th>
											<th>Descuento</th>
											<th>Inicio</th>
											<th>Fin</th>
										</tr>
									</tfoot>
									<tbody>
										<tr th:each="oferta : ${ofertasList}">
											<td class="align-items-center">
												<a class="fas fa-fw fa-edit" th:href="@{/admin/ofertasEdit/__${oferta.id}__}"></a>
												<a class="fas fa-fw fa-trash" th:href="@{/admin/ofertasDelete/__${oferta.id}__}"></a>
											</td>
											<td th:text="${oferta.id}"></td>
											<td th:text="${oferta.articulo.name}"></td>
											<td th:text="${oferta.descuento}"></td>											
											<td th:text="${#dates.format(oferta.inicio, 'dd/MM/yyyy')}"></td>
											<td th:text="${#dates.format(oferta.fin, 'dd/MM/yyyy')}"></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<th:block th:include="fragments/admin_t :: fechayhora" />
					</div>
				</div>

			</div>
			<!-- /.container-fluid -->

			<th:block th:include="fragments/admin_t :: copyright" />

		</div>
		<!-- /.content-wrapper -->

	</div>
	<!-- /#wrapper -->

	<th:block th:include="fragments/admin_t :: footer" />

</body>

</html>