<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block th:include="fragments/admin_t :: head" />

<body id="page-top">

	<th:block th:include="fragments/admin_t :: nav" />

	<div id="wrapper">

		<th:block th:include="fragments/admin_t :: menu" />

		<div id="content-wrapper">

			<div class="container-fluid">

				<!-- Breadcrumbs-->
				<ol class="breadcrumb">
					<li class="breadcrumb-item">
						<a th:href="@{/admin}" href="#">Escritorio</a>
					</li>
					<li class="breadcrumb-item active">Ventas</li>
				</ol>

				<div class="container">

					<h3>Ventas <label th:text="${vendor.name}"></label></h3>

					<!-- Tabla de Pedidos -->
					<div class="card mb-3">
						<div class="card-header">
							<i class="fas fa-table"></i> Buscar por fecha: 
							<form class="form-inline" th:action="@{/admin/pedidosfecha/fecha}" method="post">
            					<input th:type="date" name="fecha"  />
            					<button type="submit" class="btn btn-primary" style="margin-left:5px;">Buscar</button> 
           					</form>
            				   
						</div>
						<div class="card-body">
							<div class="table-responsive">
								<table class="table table-bordered table-striped" id="dataTable">
									<thead class="thead-dark">
										<tr>
											<th class="sorting_disabled">Acc</th>
											<th class="order-column">Id</th>
											<th>Fecha</th>
											<th>Producto</th>
											<th>Precio</th>
											<th>Uds.</th>
											<th>Total</th>
											<th>Cliente</th>
										</tr>
									</thead>
									<tfoot>
										<tr>
											<th class="sorting_disabled">Acc</th>
											<th class="order_column">Id</th>
											<th>Fecha</th>											
											<th>Producto</th>
											<th>Precio</th>
											<th>Uds.</th>
											<th>Total</th>
											<th>Cliente</th>
										</tr>
										<tr>
											<th colspan="6"></th>
											<th><span th:text="${total}"></span></th>
										</tr>
									</tfoot>
									<tbody>
										<tr th:each="pedido : ${pedidosList}">
											<td class="align-items-center">
												<a class="fas fa-fw fa-trash" th:href="@{/admin/pedidosdel/__${pedido.id}__}"></a>
											</td>
											<td th:text="${pedido.id}"></td>										
											<td th:text="${#dates.format(pedido.date, 'dd/MM/yyyy')}"></td>
											<td th:text="${pedido.articulo.name}"></td>											
											<td th:text="${pedido.precioudEuros}"></td>
											<td th:text="${pedido.unidades}"></td>
											<td th:text="${pedido.totalEuros}"></td>
											<td th:text="${pedido.user.fullName}"></td>											
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<th:block th:include="fragments/admin_t :: fechayhora" />
					</div>
				</div>

			</div>
			<!-- /.container-fluid -->

			<th:block th:include="fragments/admin_t :: copyright" />

		</div>
		<!-- /.content-wrapper -->

	</div>
	<!-- /#wrapper -->

	<th:block th:include="fragments/admin_t :: footer" />

</body>

</html>