<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block th:include="fragments/admin_t :: head" />

<body id="page-top">

  <th:block th:include="fragments/admin_t :: nav" />

  <div id="wrapper">

    <th:block th:include="fragments/admin_t :: menu" />

    <div id="content-wrapper">

      <div class="container-fluid">

        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a th:href="@{/admin}" href="#">Escritorio</a></li>
          <li class="breadcrumb-item"><a th:href="@{/admin/articulos}" href="#">Tiendas</a></li>
          <li class="breadcrumb-item active">Ficha Tienda</li>
        </ol>

        <div class="container">

          <h1>Tienda</h1>

          <form class="form-group" th:object="${tienda}" th:action="@{/admin/tiendasEdit}" method="post">
            <input th:type="hidden" name="id" th:field="*{id}" />

            <div class="row">
              <div class="col- col-md-6">

                <div class="form-group">
                  <label for="title">Código</label> 
                  <input type="text" class="form-control" th:field="*{code}" th:text="${err}"
                    th:class="${#fields.hasErrors('code')} ? 'form-control form-control-danger' : (*{code == null} ? 'form-control' : 'form-control form-control-success')"
                    placeholder="Introduce el código de la tienda" required="required" />
                </div>               
                
                <div class="form-group">
                  <label for="title">Nombre</label>
                   <input type="text" class="form-control" th:field="*{name}" th:text="${err}"
                    th:class="${#fields.hasErrors('name')} ? 'form-control form-control-danger' : (*{name == null} ? 'form-control' : 'form-control form-control-success')"
                    placeholder="Introduce tu nombre de tienda" required="required" />
                </div>
                
                <div class="form-group">
                  <label for="title">Servicios</label> 
                  <textarea id="notas" th:field="*{services}" cols="100"></textarea>
                </div>
                
                <div class="form-group">
                  <input type="checkbox" name="active" id="active" th:checked="*{active} ? 'true' : 'false'" /> <label for="active">Activa</label>
                </div>               
              </div>
            </div>

            <button type="submit" class="btn btn-primary">Guardar</button>
            <a th:href="@{/admin/tiendas}" class="btn btn-danger" role="button">Cancelar</a>
          </form>

        </div>
      </div>
      <!-- /.container-fluid -->

      <th:block th:include="fragments/admin_t :: copyright" />

    </div>
    <!-- /.content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <th:block th:include="fragments/admin_t :: footer" />
	

</body>
</html>