<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block th:include="fragments/admin_t :: head" />

<body id="page-top">

	<th:block th:include="fragments/admin_t :: nav" />

	<div id="wrapper">

		<th:block th:include="fragments/admin_t :: menu" />

		<div id="content-wrapper">

			<div class="container-fluid">

				<!-- Breadcrumbs-->
				<ol class="breadcrumb">
					<li class="breadcrumb-item">
						<a th:href="@{/admin}" href="#">Escritorio</a>
					</li>
					<li class="breadcrumb-item active">Tiendas</li>
				</ol>

				<div class="container">

					<h1>Tiendas</h1>

					<p>
						<a class="btn btn-primary btn-lg" th:href="@{/admin/tiendasEdit}">Nuevo</a>
					</p>

					<!-- Tabla de Artículos -->
					<div class="card mb-3">
						<div class="card-header">
							<i class="fas fa-table"></i> Tiendas
						</div>
						<div class="card-body">
							<div class="table-responsive">
								<table class="table table-bordered" id="dataTable">
									<thead class="thead-dark">
										<tr>
											<th class="sorting_disabled">Acc</th>
											<th>ID</th>
											<th>Código</th>
											<th>Nombre</th>
											<th>Activo</th>
										</tr>
									</thead>
									<tfoot>
										<tr>
											<th class="sorting_disabled">Acc</th>
											<th>ID</th>
											<th>Código</th>
											<th>Nombre</th>
											<th>Activo</th>
										</tr>
									</tfoot>
									<tbody>
										<tr th:each="tienda : ${tiendasList}">
											<td class="align-items-center">
												<a class="fas fa-fw fa-edit" th:href="@{/admin/tiendasEdit/__${tienda.id}__}"></a>
												<a class="fas fa-fw fa-trash" th:href="@{/admin/tiendasDelete/__${tienda.id}__}"></a>
											</td>
											<td th:text="${tienda.id}"></td>
											<td th:text="${tienda.code}"></td>
											<td th:text="${tienda.name}"></td>
											<td th:if="${tienda.active}">
												<i class="fa fa-check" aria-hidden="true"></i>
											</td>
											<td th:if="${!tienda.active}"></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<th:block th:include="fragments/admin_t :: fechayhora" />
					</div>
				</div>

			</div>
			<!-- /.container-fluid -->

			<th:block th:include="fragments/admin_t :: copyright" />

		</div>
		<!-- /.content-wrapper -->

	</div>
	<!-- /#wrapper -->

	<th:block th:include="fragments/admin_t :: footer" />

</body>

</html>
