<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block th:include="fragments/admin_t :: head" />

<body id="page-top">

  <th:block th:include="fragments/admin_t :: nav" />

  <div id="wrapper">

    <th:block th:include="fragments/admin_t :: menu" />

    <div id="content-wrapper">

      <div class="container-fluid">

        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a th:href="@{/admin}" href="#">Escritorio</a></li>
          <li class="breadcrumb-item"><a th:href="@{/admin/articulos}" href="#">Usuarios</a></li>
          <li class="breadcrumb-item active">Crear Usuario</li>
        </ol>

        <div class="container">

          <h1>Usuarios</h1>

          <form class="form-group" th:object="${usuario}" th:action="@{/admin/usuariosEdit}" method="post">
            <input th:type="hidden" name="id" th:field="*{id}" />

            <div class="row">
              <div class="col- col-md-6">
                <div class="form-group">
                  <label for="title">Nombre de usuario</label> <input type="text" class="form-control" th:field="*{username}"
                    th:class="${#fields.hasErrors('username')} ? 'form-control form-control-danger' : (*{username == null} ? 'form-control' : 'form-control form-control-success')"
                    placeholder="Introduce tu nombre de usuario" required="required" />
                </div>

                <div class="form-group">
                  <label for="title">Contraseña</label> <input type="password" class="form-control" th:field="*{password}"
                    th:class="${#fields.hasErrors('password')} ? 'form-control form-control-danger' : (*{password == null} ? 'form-control' : 'form-control form-control-success')"
                    placeholder="Introduce tu contraseña" required="required" />
                </div>

                <div class="form-group">
                  <label for="title">Nombre</label> <input type="text" class="form-control" th:field="*{name}" th:text="${err}"
                    th:class="${#fields.hasErrors('name')} ? 'form-control form-control-danger' : (*{name == null} ? 'form-control' : 'form-control form-control-success')"
                    placeholder="Introduce tu nombre" required="required" />
                </div>

                <div class="form-group">
                  <label for="title">Apellidos</label> <input type="text" class="form-control" th:field="*{lastname}"
                    th:text="${err}"
                    th:class="${#fields.hasErrors('lastname')} ? 'form-control form-control-danger' : (*{lastname == null} ? 'form-control' : 'form-control form-control-success')"
                    placeholder="Introduce tus apellidos" required="required" />
                </div>

                <div class="form-group">
                  <label for="title">Correo electrónico</label> <input type="email" class="form-control" th:field="*{email}"
                    th:class="${#fields.hasErrors('email')} ? 'form-control form-control-danger' : (*{email == null} ? 'form-control' : 'form-control form-control-success')"
                    placeholder="Introduce tu correo electrónico" required="required" />
                </div>

                <div class="form-group">
                  <label for="tienda">Rol</label>
                  <select th:field="*{role}" id="vendor" class="browser-default custom-select"
                    th:class="${#fields.hasErrors('role')} ? 'form-control form-control-danger' : (*{role == null} ? 'form-control' : 'form-control form-control-success')"
                    required="required">
                    <option selected th:value="*{role == null} ? 'Selecciona el rol de usuario' : *{role}"></option>
                    <option value="USER">Usuario</option>
                    <option value="VENDOR">Gestor de tienda</option>
                    <option value="ADMIN">Administrador</option>
                  </select>
                </div>
				<div class="form-group">Tienda
					<select th:value="*{vendorId}" name="vendorId" >
					    <option value="-1">---</option>
						<option th:each="vendor : ${tiendasList}"
						th:value="${vendor.id}"
						th:utext="${vendor.name}"
						th:selected="(*{vendorId} == ${vendor.id})"
						/>
					</select>
				</div>                 

                <div class="form-group">
                  <input type="checkbox" name="active" id="active" th:checked="*{active} ? 'true' : 'false'" /> <label for="active">Activo</label>
                </div>

              </div>
            </div>

            <button type="submit" class="btn btn-primary">Guardar</button>
            <a th:href="@{/admin/usuarios}" class="btn btn-danger" role="button">Cancelar</a>
          </form>

        </div>
      </div>
      <!-- /.container-fluid -->

      <th:block th:include="fragments/admin_t :: copyright" />

    </div>
    <!-- /.content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <th:block th:include="fragments/admin_t :: footer" />

</body>

</html>