<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block th:fragment="head">

	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>Edomdoo - Administración</title>

	<!-- Custom fonts for this template-->
	<link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
	
	<!-- Page level plugin CSS-->
	<link th:href="@{/vendor/datatables/dataTables.bootstrap4.css}" rel="stylesheet" type="text/css">
	
	<!-- Custom styles for this template-->
	<link th:href="@{/css/sb-admin.css}" rel="stylesheet" type="text/css">

  	<script type="text/javascript" th:src="@{/js/jquery.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
	

	
	</head>
</th:block>

<body id="page-top">

	<th:block th:fragment="nav">
		<nav class="navbar navbar-expand navbar-dark bg-dark static-top">

			<th:block th:fragment="logo">
				<a class="navbar-brand mr-1" th:href="@{/}">Edomdoo - Administración</a>

				<button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle">
					<i class="fas fa-bars"></i>
				</button>
			</th:block>

			<th:block th:fragment="navsearch">
				<!-- Navbar Search -->
				<form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
					<div class="input-group">
<!-- 						<input type="text" class="form-control" placeholder="Buscar..." aria-label="Buscar" aria-describedby="basic-addon2"> -->
<!-- 						<div class="input-group-append"> -->
<!-- 							<button class="btn btn-primary" type="button"> -->
<!-- 								<i class="fas fa-search"></i> -->
<!-- 							</button> -->
<!-- 						</div> -->
					</div>
				</form>
			</th:block>

			<th:block th:fragment="navbar">
				<!-- Navbar -->
				<ul class="navbar-nav ml-auto ml-md-0">
<!-- 					<li class="nav-item dropdown no-arrow mx-1"> -->
<!-- 						<a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" -->
<!-- 							aria-expanded="false" -->
<!-- 						> -->
<!-- 							<i class="fas fa-bell fa-fw"></i> -->
<!-- 							<span class="badge badge-danger">0</span> -->
<!-- 						</a> -->
<!-- 						<div class="dropdown-menu dropdown-menu-right" aria-labelledby="alertsDropdown"> -->
<!-- 							<a class="dropdown-item" href="#">Una acción</a> -->
<!-- 							<a class="dropdown-item" href="#">Otra acción</a> -->
<!-- 							<div class="dropdown-divider"></div> -->
<!-- 							<a class="dropdown-item" href="#">Algo más aquí...</a> -->
<!-- 						</div> -->
<!-- 					</li> -->
<!-- 					<li class="nav-item dropdown no-arrow mx-1"> -->
<!-- 						<a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" -->
<!-- 							aria-expanded="false" -->
<!-- 						> -->
<!-- 							<i class="fas fa-envelope fa-fw"></i> -->
<!-- 							<span class="badge badge-danger">0</span> -->
<!-- 						</a> -->
<!-- 						<div class="dropdown-menu dropdown-menu-right" aria-labelledby="messagesDropdown"> -->
<!-- 							<a class="dropdown-item" href="#">Una acción</a> -->
<!-- 							<a class="dropdown-item" href="#">Otra acción</a> -->
<!-- 							<div class="dropdown-divider"></div> -->
<!-- 							<a class="dropdown-item" href="#">Algo más aquí...</a> -->
<!-- 						</div> -->
<!-- 					</li> -->
					<li class="nav-item dropdown no-arrow">
						<a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
							aria-expanded="false"
						>
							<i class="fas fa-user-circle fa-fw"></i>
						</a>
						<div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
							<!-- a class="dropdown-item" href="#">Ajustes</a -->
							<!-- div class="dropdown-divider"></div -->
							<a class="dropdown-item" th:href="@{/logout}" data-toggle="modal" data-target="#logoutModal">Salir</a>
						</div>
					</li>
				</ul>
			</th:block>
		</nav>
	</th:block>

	<div id="wrapper">

		<th:block th:fragment="menu">
			<!-- Sidebar -->
			<ul class="sidebar navbar-nav">
				<li class="nav-item active">
					<a class="nav-link" th:href="@{/}">
						<i class="fas fa-fw fa-blender"></i>
						<span>Volver a edomdoo</span>
					</a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" th:href="@{/admin}">
						<i class="fas fa-fw fa-tachometer-alt"></i>
						<span>Administración</span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:href="@{/admin/articulos}">
						<i class="fas fa-fw fa-beer"></i>
						<span>Articulos </span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:href="@{/admin/usuarios}">
						<i class="fas fa-fw fa-user"></i>
						<span>Usuarios</span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:href="@{/admin/tiendas}">
						<i class="fas fa-fw fa-users"></i>
						<span>Tiendas</span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:href="@{/admin/marcas}">
						<i class="fas fa-fw fa-trademark"></i>
						<span>Marcas</span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:href="@{/admin/categorias}">
						<i class="fas fa-fw fa-cubes"></i>
						<span>Categorias</span>
					</a>
				</li>				
				<li class="nav-item">
					<a class="nav-link" th:href="@{/admin/pedidos}">
						<i class="fas fa-fw fa-shopping-basket"></i>
						<span>Pedidos</span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:href="@{/admin/ofertas}">
						<i class="fas fa-fw fa-bolt"></i>
						<span>Ofertas</span>
					</a>
				</li>
			</ul>
		</th:block>

		<div id="content-wrapper">

			<div class="container-fluid">

				<th:block th:fragment="breadcrumbs">
					<!-- Breadcrumbs-->
					<ol class="breadcrumb">
						<li class="breadcrumb-item">
							<a th:href="@{/admin}" href="#">Escritorio</a>
						</li>
						<li class="breadcrumb-item active">Resumen</li>
					</ol>
				</th:block>

				<th:block th:fragment="iconcards">
					<!-- Icon Cards-->
					<div class="row">
						<div class="col-xl-3 col-sm-6 mb-3">
							<div class="card text-white bg-primary o-hidden h-100">
								<div class="card-body">
									<div class="card-body-icon">
										<i class="fas fa-fw fa-comments"></i>
									</div>
									<div class="mr-5">0 Mensajes</div>
								</div>
								<a class="card-footer text-white clearfix small z-1" href="#">
									<span class="float-left">Vista de detalle</span>
									<span class="float-right">
										<i class="fas fa-angle-right"></i>
									</span>
								</a>
							</div>
						</div>
						<div class="col-xl-3 col-sm-6 mb-3">
							<div class="card text-white bg-warning o-hidden h-100">
								<div class="card-body">
									<div class="card-body-icon">
										<i class="fas fa-fw fa-list"></i>
									</div>
									<div class="mr-5">0 Tareas pendientes</div>
								</div>
								<a class="card-footer text-white clearfix small z-1" href="#">
									<span class="float-left">Vista de detalle</span>
									<span class="float-right">
										<i class="fas fa-angle-right"></i>
									</span>
								</a>
							</div>
						</div>
						<div class="col-xl-3 col-sm-6 mb-3">
							<div class="card text-white bg-success o-hidden h-100">
								<div class="card-body">
									<div class="card-body-icon">
										<i class="fas fa-fw fa-shopping-cart"></i>
									</div>
									<div class="mr-5" th:text="${npedidos} + ' Pedidos servidos'">0 Pedidos pendientes</div>
								</div>
								<a class="card-footer text-white clearfix small z-1" th:href="@{/admin/pedidos}">
									<span class="float-left">Vista de detalle</span>
									<span class="float-right">
										<i class="fas fa-angle-right"></i>
									</span>
								</a>
							</div>
						</div>
						<div class="col-xl-3 col-sm-6 mb-3">
							<div class="card text-white bg-danger o-hidden h-100">
								<div class="card-body">
									<div class="card-body-icon">
										<i class="fas fa-fw fa-life-ring"></i>
									</div>
									<div class="mr-5">0 Tickets nuevos</div>
								</div>
								<a class="card-footer text-white clearfix small z-1" href="#">
									<span class="float-left">Vista de detalle</span>
									<span class="float-right">
										<i class="fas fa-angle-right"></i>
									</span>
								</a>
							</div>
						</div>
					</div>
				</th:block>

				<th:block th:fragment="charts">
					<!-- Area Chart Example-->
<!-- 					<div class="card mb-3"> -->
<!-- 						<div class="card-header"> -->
<!-- 							<i class="fas fa-chart-area"></i>Ejemplo de gráfico -->
<!-- 						</div> -->
<!-- 						<div class="card-body"> -->
<!-- 							<canvas id="myAreaChart" width="100%" height="30"></canvas> -->
<!-- 						</div> -->
<!-- 						<div class="card-footer small text-muted">Actualizado ayer a las 11:59 PM</div> -->
<!-- 					</div> -->
				</th:block>

				<th:block th:fragment="tables">
					<!-- DataTables Example -->
					<div class="card mb-3">
						<div class="card-header">
							<i class="fas fa-table"></i> Resumen de pedidos
						</div>
						<div class="card-body">
							<div class="table-responsive">
								<table class="table table-bordered table-striped" id="dataTable">
									<thead class="thead-dark">
										<tr>
											<th class="order-column">Id</th>
											<th>Fecha</th>
											<th>Producto</th>
											<th>Precio</th>
											<th>Uds.</th>
											<th>Total</th>
											<th>Cliente</th>
										</tr>
									</thead>
									<tfoot>
										<tr>
											<th class="order_column">Id</th>
											<th>Fecha</th>											
											<th>Producto</th>
											<th>Precio</th>
											<th>Uds.</th>
											<th>Total</th>
											<th>Cliente</th>
										</tr>
										<tr>
											<th colspan="6"></th>
											<th><span th:text="${total}"></span></th>
										</tr>
									</tfoot>
									<tbody>
										<tr th:each="pedido : ${pedidosList}">											
											<td th:text="${pedido.id}"></td>										
											<td th:text="${#dates.format(pedido.date, 'dd/MM/yyyy')}"></td>
											<td th:text="${pedido.articulo.name}"></td>											
											<td th:text="${pedido.precioudEuros}"></td>
											<td th:text="${pedido.unidades}"></td>
											<td th:text="${pedido.totalEuros}"></td>
											<td th:text="${pedido.user.fullName}"></td>											
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<th:block th:fragment="fechayhora">
							<div class="card-footer small text-muted"
								th:text="${'Actualizado el ' + #calendars.format(#calendars.createNow(), 'dd MMM yyyy HH:mm')}"
							>Fecha y hora</div>
						</th:block>
					</div>
				</th:block>
			</div>

			<!-- /.container-fluid -->

			<th:block th:fragment="copyright">
				<!-- Sticky Footer -->
				<footer class="sticky-footer">
					<div class="container my-auto">
						<div class="copyright text-center my-auto">
							<span>Copyright © edomdoo 2019</span>
						</div>
					</div>
				</footer>
			</th:block>
		</div>
		<!-- /.content-wrapper -->

	</div>
	<!-- /#wrapper -->


	<th:block th:fragment="footer">
		<!-- Scroll to Top Button-->
		<a class="scroll-to-top rounded" href="#page-top">
			<i class="fas fa-angle-up"></i>
		</a>

		<th:block th:fragment="logout">
			<!-- Logout Modal-->
			<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">Salir de la administraci&oacute</h5>
							<button class="close" type="button" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">×</span>
							</button>
						</div>
						<div class="modal-body">¿Estás seguro de que quieres salir?...</div>
						<div class="modal-footer">
							<button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
							<a class="btn btn-primary" th:href="@{/logout}">Salir</a>
						</div>
					</div>
				</div>
			</div>
		</th:block>

		<th:block th:fragment="bootstrap">
			<!-- Bootstrap core JavaScript-->
			<script th:src="@{/vendor/jquery/jquery.min.js}" src="vendor/jquery/jquery.min.js"></script>
			<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}" src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

			<!-- Core plugin JavaScript-->
			<script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}" src="vendor/jquery-easing/jquery.easing.min.js"></script>

			<!-- Page level plugin JavaScript-->
			<script th:src="@{/vendor/chart.js/Chart.min.js}" src="vendor/chart.js/Chart.min.js"></script>
			<script th:src="@{/vendor/datatables/jquery.dataTables.js}" src="vendor/datatables/jquery.dataTables.js"></script>
			<script th:src="@{/vendor/datatables/dataTables.bootstrap4.js}" src="vendor/datatables/dataTables.bootstrap4.js"></script>

			<!-- Custom scripts for all pages-->
			<script th:src="@{/js/sb-admin.min.js}" src="js/sb-admin.min.js"></script>

			<!-- Demo scripts for this page-->
			<script th:src="@{/js/demo/datatables-demo.js}" src="js/demo/datatables-demo.js"></script>
			<script th:src="@{/js/demo/chart-area-demo.js}" src="js/demo/chart-area-demo.js"></script>
		</th:block>

	</th:block>

</body>

</html>
