<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head></head>
<body>
	<th:block th:fragment="destacados">
				<div class="header_bottom">
			<div class="header_bottom_left">
				<div th:each="producto, iterStat : ${productosList}">
				          <!-- Grupo -->
				<div class="section group" th:class="${iterStat.odd}? 'section group'">
				
				  <!-- Producto -->
				<div class="listview_1_of_2 images_1_of_2">
				
				  <div class="listimg listimg_2_of_1">
				    <a th:href="@{'producto/id/' + $producto.id}">
				      <img th:src="@{'/images/' + ${producto.img}}" alt="" />
				    </a>
				  </div>
				
				  <div class="text list_2_of_1">
				    <h2 th:text="${producto.name}"></h2>
				    <p th:text="${producto.description}"></p>
				    <!--  producto en oferta -->
				    <span th:if="${producto.inOffer}">
				     	<label th:text="${producto.priceWithTaxEuros}" style="text-decoration:line-through;"></label>
				     	<label th:text="${producto.totalEuros}"></label>
				    </span>
				    <!--  producto que no está en oferta -->
				         <span th:unless="${producto.inOffer}">
				         	<label th:text="${producto.priceWithTaxEuros}"></label>
				         </span>
				         <div class="button">
				           <span>
				             <a th:href="@{'/cesta/addProduct/' + ${producto.id}}" th:text="#{comun.addtocart}"></a>
				           </span>
				         </div>
				       </div>
				
				     </div>
				   </div>
				
				 </div>
			<div class="clear"></div>
		</div>

        <!-- Fin de productos destacados -->

      </div>
	</th:block>
</body>
</html>