<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<body>
  <th:block th:fragment="footer">
    <div class="footer">
      <div class="wrapper">
        <div class="section group">
          <div class="col_1_of_4 span_1_of_4">
            <h4 th:text="#{footer.info}">Information</h4>
            <ul>
              <li><a th:text="#{footer.aboutus}" th:href="@{/sobrenosotros}">About Us</a></li>
              <li><a th:text="#{footer.customerservices}" th:href="@{/contacto}">Customer Service</a></li>
              <li><a sec:authorize="isAuthenticated()" th:text="#{footer.orders}" th:href="@{/historial}">Orders</a></li>
              <li><a th:text="#{footer.contact}" th:href="@{/contacto}">
                  <span>Contact</span>
                </a></li>
            </ul>
          </div>
          <div class="col_1_of_4 span_1_of_4">
            <h4 th:text="#{footer.whybuy}">Why Buy</h4>
            <ul>
              <li><a th:text="#{footer.services}" th:href="@{/nuestrastiendas}">Services</a></li>
              <li><a th:text="#{footer.privacy}" th:href="@{/politicaprivacidad}">Privacy Policy</a></li>
              <li><a th:text="#{footer.terms}" th:href="@{/terminos}">Terms and conditions</a></li>
              <li><a th:text="#{footer.cookies}" th:href="@{/cookies}">
                  <span>Cookies</span>
                </a></li>
            </ul>
          </div>
          <div class="col_1_of_4 span_1_of_4">
            <h4 th:text="#{footer.myaccount}">My account</h4>
            <ul>
              <li><a th:text="#{footer.login}" th:href="@{/login}">Acceder</a></li>
              <li><a th:text="#{footer.cart}" th:href="@{/cesta}">Ver Carrito</a></li>
              <li><a sec:authorize="isAuthenticated()" th:text="#{footer.history}" th:href="@{/historial}">Mis pedidos</a></li>
              <li><a th:text="#{footer.help}" th:href="@{/manual}">Ayuda</a></li>
            </ul>
          </div>
          
          
          <div class="col_1_of_4 span_1_of_4">
            <h4 th:text="#{footer.contact}">Contact</h4>
            <ul>
              <li><span>+91-123-456789</span></li>
              <li><span>+00-123-000000</span></li>
            </ul>
            <div class="social-icons">
              <h4 th:text="#{footer.follow}">S&iacute;guenos</h4>
              <ul>
                <li class="facebook"><a href="#" target="_blank"> </a></li>
                <li class="twitter"><a href="#" target="_blank"> </a></li>
                <li class="googleplus"><a href="#" target="_blank"> </a></li>
                <li class="contact"><a href="#" target="_blank"> </a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="clear"></div>
        <div class="copy_right">
          <p>
            &copy; 2019 Edomdoo Media Smart Store. All Rights Reserved | Original template Design by
            <a href="http://w3layouts.com">W3Layouts</a>
          </p>
        </div>
      </div>
    </div>
    <script type="text/javascript">
     $(document).ready(function() {
      /*
      var defaults = {
      	containerID: 'toTop', // fading element id
      	containerHoverID: 'toTopHover', // fading element hover id
      	scrollSpeed: 1200,
      	easingType: 'linear' 
      };
       */

      $().UItoTop({
       easingType : 'easeOutQuart'
      });

     });
    </script>
    <a href="#" id="toTop" style="display: block;">
      <span id="toTopHover" style="opacity: 1;"></span>
    </a>
    <link th:href="@{/css/flexslider.css}" rel='stylesheet' type='text/css' />
    <script defer th:src="@{/js/jquery.flexslider.js}"></script>
    <script type="text/javascript">
     $(function() {
      SyntaxHighlighter.all();
     });
     $(window).load(function() {
      $('.flexslider').flexslider({
       animation : "slide",
       start : function(slider) {
        $('body').removeClass('loading');
       }
      });
     });
    </script>
  </th:block>
</body>
</html>