<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<th:block th:fragment="head">
  <title>Edomdoo</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}" />
  <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/menu.css}" />
  <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap.css}" />
  <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
  <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
  <script type="text/javascript" th:src="@{/js/script.js}"></script>
  <script type="text/javascript" th:src="@{/js/move-top.js}"></script>
  <script type="text/javascript" th:src="@{/js/easing.js}"></script>
  <link href='//fonts.googleapis.com/css?family=Monda' rel='stylesheet' type='text/css'>
  <link href='//fonts.googleapis.com/css?family=Doppio+One' rel='stylesheet' type='text/css'>
</th:block>
</head>
<body>
  <th:block th:fragment="menu">
    <div class="header">
      <div class="header_top">
        <div class="logo">
          <a th:href="@{/}">
            <img th:src="@{/images/logo.png}" src="images/logo.png" alt="" />
          </a>
        </div>
        <div class="header_top_right">
          <div class="search_box">
            <form>
              <input type="text" th:value="#{header.searchProducts}" value="Search for Products" onfocus="this.value = '';"
                th:onblur="if (this.value == '') {this.value = ${searchProducts};}"
                onblur="if (this.value == '') {this.value = 'Search for Products';}"><input type="submit"
                th:value="#{header.search}" value="SEARCH">
            </form>
          </div>
          <div class="shopping_cart">
            <div class="cart">
              <a th:href="@{'/cesta'}" th:title="#{header.viewCart}" title="View my shopping cart" rel="nofollow">
                <strong class="opencart"> </strong>
                <span class="cart_title" th:text="#{comun.cart}"></span>
              </a>
            </div>
          </div>
          <div class="languages" title="language">
            <div id="language" class="wrapper-dropdown" tabindex="1">
              <div th:text="${#strings.substring(#locale, 0, 2)}" style="text-transform: uppercase;"></div>
              <strong class="opencart"> </strong>
              <ul class="dropdown languages">
                <li><a th:href="@{?lang=es}" title="Español">
                    <span>
                      <img th:src="@{/images/es.png}" src="images/es.png" alt="es" width="26" height="26">
                    </span>
                    <span class="lang">Español</span>
                  </a></li>
                <li><a th:href="@{?lang=en}" title="Español">
                    <span>
                      <img th:src="@{/images/gb.png}" src="images/gb.png" alt="en" width="26" height="26">
                    </span>
                    <span class="lang">English</span>
                  </a></li>
              </ul>
            </div>
            <script type="text/javascript">
             function DropDown(el) {
              this.dd = el;
              this.initEvents();
             }
             DropDown.prototype = {
              initEvents : function() {
               var obj = this;

               obj.dd.on('click', function(event) {
                $(this).toggleClass('active');
                event.stopPropagation();
               });
              }
             }

             $(function() {

              var dd = new DropDown($('#language'));

              $(document).click(function() {
               // all dropdowns
               $('.wrapper-dropdown').removeClass('active');
              });

             });
            </script>
          </div>
          <div class="login">
            <span sec:authorize="!isAuthenticated()">
              <a th:href="@{/login}">
                <img th:src="@{/images/login.png}" src="images/login.png" alt="Login" title="login" />
              </a>
            </span>
            <span sec:authorize="isAuthenticated()">
              <a th:href="@{/logout}">
                <img th:src="@{/images/logout.png}" alt="Logout" title="logout" />
              </a>
            </span>
          </div>
          <div class="login" sec:authorize="isAuthenticated()">
            <span sec:authorize="hasAuthority('ADMIN')">
              <a th:href="@{/admin}">
                <img th:src="@{/images/admin.png}" alt="Admin" />
              </a>
            </span>
            <span>
              <a sec:authorize="hasAuthority('VENDOR')" th:href="@{/admin}">
                <img th:src="@{/images/vendor.png}" alt="Tienda" />
              </a>
            </span>
            <span>
              <a sec:authorize="hasAuthority('USER')" th:href="@{/datospersonales}">
                <img th:src="@{/images/login_g.png}" alt="Usuario" />
              </a>
            </span>
          </div>
          <div class="login_data" sec:authorize="isAuthenticated()">
            <span sec:authentication="name">&nbsp;</span>
            <span sec:authentication="principal.authorities"></span>
          </div>
          <div class="clear"></div>

        </div>
        <div class="clear"></div>
      </div>

      <!-- Menu -->
      <div class="h_menu">
        <a id="touch-menu" class="mobile-menu" href="#">Menu</a>
        <nav>
          <ul class="menu list-unstyled">
            <li><a th:href="@{/}" th:text="#{header.home}">HOME</a></li>
            <li class="activate"><a th:href="@{/tiendas}">Tiendas</a>
              <ul class="sub-menu list-unstyled">
                <div class="nag-mother-list">
                  <div class="navg-drop-main">
                    <div class="nav-drop">
                      <li th:each="tienda : ${tiendasList}"><a th:text="${tienda.name}" th:href="@{'/tiendas/' + ${tienda.id}}">Tiendas
                          X</a></li>
                    </div>
                    <div class="clear"></div>
                  </div>
                </div>
              </ul></li>
            <li><a th:href="@{/marcas}">Marcas</a>
              <ul class="sub-menu list-unstyled">
                <div class="nag-mother-list">
                  <div class="navg-drop-main">
                    <div th:each="marca : ${marcasList}" class="nav-drop nav-top-brand">
                      <li><a th:text="${marca.name}" th:href="@{'/marcas/' + ${marca.id}}">Marca X</a></li>
                    </div>
                  </div>
                </div>
              </ul></li>
            <li><a th:href="@{/categorias}">Categorías</a>
              <ul class="sub-menu list-unstyled">
                <div class="nag-mother-list">
                  <div class="navg-drop-main">
                    <div th:each="categoria : ${categoriasList}" class="nav-drop nav-top-brand">
                      <li><a th:text="${categoria.name}" th:href="@{'/categorias/' + ${categoria.id}}">Categoría X</a></li>
                    </div>
                  </div>
                </div>
              </ul></li>
            <li sec:authorize="isAuthenticated()"><a th:href="@{/historial}">Historial</a></li>
            <li><a th:href="@{/nuestrastiendas}">Nuestras tiendas</a></li>
            <li><a th:href="@{/sobrenosotros}">Documentos</a>
              <ul class="sub-menu list-unstyled sub-menu2">
                <div class="navg-drop-main">
                  <div class="nav-drop nav-top-brand">
                    <li><a href="files/memoria_edomdoo.pdf" download="memoria_edomdoo.pdf" target="_blank">Memoria</a></li>
                    <li><a href="files/manual_edomdoo.pdf" download="manual_edomdoo.pdf" target="_blank">Manual de uso</a></li>
                    <li><a href="javadoc/index.html">Java doc</a></li>
                    <li><a href="files/edomdoo_src.zip" download="edomdoo_src.zip">Fuentes</a></li>
                    <li><a th:href="@{/sobrenosotros}">Sobre nosotros</a></li>
                  </div>
                </div>
              </ul></li>

            <div class="clear"></div>
          </ul>
        </nav>

        <script th:src="@{/js/menu.js}" type="text/javascript"></script>
      </div>
      <!-- Fin Menu -->

      <div class="header_bottom">
        <div class="header_bottom_left">
          <!-- Grupo -->
          <div class="section group">

            <!-- Producto -->
            <div class="listview_1_of_2 images_1_of_2" th:each="destacado : ${destacadosList}">

              <div class="listimg listimg_2_of_1">
                <a th:href="@{'/producto/' + ${destacado.id}}">
                  <img th:src="@{'/images/' + ${destacado.img}}" alt="" />
                </a>
              </div>

              <div class="text list_2_of_1">
                <a th:href="@{'/producto/' + ${destacado.id}}">
                  <h2 th:text="${destacado.name}"></h2>
                  <p th:text="${destacado.description}"></p>
                </a>

                <!-- Puntuacion -->
                <p>
                  <th:block th:each="i: ${#numbers.sequence(1, destacado.cal)}">
                    <i class="glyphicon glyphicon-star" style="color: red;"></i>
                  </th:block>
                  <span th:if="${destacado.cal <5}">
	                  <th:block th:each="i: ${#numbers.sequence(destacado.cal+1, 5)}">
	                    <i class="glyphicon glyphicon-star" style="color: gainsboro;"></i>
	                  </th:block>
                  </span>                  
                </p>

                <div class="button">
                  <span>
                    <a th:href="@{'/cesta/addProduct/' + ${destacado.id}}" th:text="#{comun.addtocart}" class="cart-button">Añadir
                      al carrito</a>
                  </span>
                </div>

              </div>
            </div>

          </div>
          <div class="clear"></div>
        </div>

        <!-- Fin de productos destacados -->

      </div>
    </div>
  </th:block>
</body>
</html>