<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head></head>
<body>
	<th:block th:fragment="slider">
		<div class="header_bottom_right_images col-12">
			<!-- FlexSlider -->
			<section class="slider" style="height=100vh">
				<div class="flexslider">
					<ul class="slides">
						<li><a th:href="@{/producto/1}"><img th:src="@{/images/1.jpg}" alt="Iphone 4S" /></a></li>
						<li><a th:href="@{/categorias/2}"><img th:src="@{/images/2.jpg}" alt="Monitores/Informatica" /></a></li>
						<li><a th:href="@{/categorias/5}"><img th:src="@{/images/3.jpg}" alt="Fotografía" /></a></li>
						<li><a th:href="@{/}"><img th:src="@{/images/4.jpg}" alt="" /></a></li>
					</ul>
				</div>
			</section>
			<!-- FlexSlider -->
		</div>
		<div class="clear"></div>
	</th:block>
</body>
</html>