<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<!-- Fragmento de HEAD -->
<head th:replace="fragments/header :: head" />

<body>
	<div class="wrap">

		<!-- Cabecera y menu de página -->
		<th:block th:include="fragments/header :: menu" />


		<!-- Contenido principal -->
		<div class="main">
			<div class="content">

				<div class="section group">

					<div class="alert alert-info" th:if="${outOfStockMessage}" th:utext="${outOfStockMessage}"></div>

					<div class="panel-default well">
						<div class="panel-heading">
							<table>
								<thead>
									<tr style="font-weight: bold; font-size: large;">
										<th width="10%" class="text-center">Ord.</th>
										<th width="40%" class="text-left">Producto</th>
										<th width="10%" class="text-right">Precio</th>
										<th width="10%" class="text-center">Uds.</th>
										<th width="10%" class="text-right">Total</th>
										<th width="10%" class="text-center"></th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="cestaline, cestalineStat : ${cesta}">
										<td align="center">
											<span th:text="${cestalineStat.count}"></span>
										</td>
										<td>
											<span th:text="${cestaline.value.producto.name}"></span>
										</td>
										<td align="right">
											<span th:text="${cestaline.value.producto.total}"></span>
										</td>
										<td align="center">
											<span th:text="${cestaline.value.unidades}"></span>
										</td>
										<td align="right">
											<span th:text="${cestaline.value.totalEuros}"></span>
										</td>
										<td align="center">
											<span>
												<a th:href="@{'/cesta/addProduct/{id}'(id=${cestaline.key})}" class="col-md-1">
													<button type="button" class="btn-xs btn-primary">+</button>
												</a>
											</span>
											<span>
												<a th:href="@{'/cesta/removeProduct/{id}'(id=${cestaline.key})}" class="col-md-1">
													<button type="button" class="btn-xs btn-danger">-</button>
												</a>
											</span>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						<br></br>
					</div>

					<div class="row panel-body">
						<h2 class="col-md-11" th:inline="text">Total: [[${total}]]</h2>
						<a th:href="@{'/cesta/comprafinalizada'}" class="col-md-1">
							<button type="button" class="btn btn-success" th:text="Comprar">Pagar</button>
						</a>
					</div>

				</div>
			</div>
		</div>

	</div>

	<!-- Pie y menu corporativo -->
	<th:block th:include="fragments/footer :: footer" />

</body>
</html>