<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<!-- Fragmento de HEAD -->
<head th:replace="fragments/header :: head" />

<body>
  <div class="wrap">

    <!-- Cabecera y menu de página -->
    <th:block th:include="fragments/header :: menu" />

    <!-- ------------------------------------------------- -->
    <!-- Contenido principal -->
    <div class="main">
      <div class="content">
        <div class="support">
          <div class="support_desc">
            <h3>Cookies</h3>            
          </div>
        </div>
        <div class="section group">
          <div class="col span_2_of_3">
            <p>Utilizamos cookies, píxels y otras tecnologías (en conjunto, “cookies”) para reconocer tu navegador, tu
              dispositivo, para saber más sobre tus intereses y para proporcionarte herramientas esenciales y servicios y para otros
              fines, por ejemplo:</p>
            <ul>
              <li />
              <p>
                Reconocer cuando te registras para usar nuestros servicios, lo que nos permite ofrecerte recomendaciones de
                productos, mostrarte contenido personalizado, reconocerte como miembro de Edomoo Prime, permitirte utilizar el
                pedido en &quot;1-Clic&quot;, y ofrecerte otras funcionalidades y servicios personalizados.
              </p>
              <li />
              <p>
                Mantener un registro de las preferencias seleccionadas por ti, lo que nos permite actuar en función de las mismas,
                como por ejemplo si deseas ver o no publicidad personalizada. Podrás elegir tus preferencias a través de&nbsp;
                <a th:href="@{/login}" target="_blank">Mi cuenta</a>
                .
              </p>
              <li />
              <p>Mantener un registro de los productos guardados en tu cesta.</p>
              <li />
              <p>Llevar a cabo investigaciones y diagnósticos para mejorar el contenido, los productos y los servicios de
                Edomoo.</p>
              <li />
              <p>Prevenir actividades fraudulentas.</p>
              <li />
              <p>Mejorar la seguridad.</p>
              <li />
              <p>
                Enviar contenidos, incluyendo anuncios, páginas de Edomoo y de terceros que podrían interesarte (consulta el&nbsp;
                <a href="#" target="_blank">Aviso sobre publicidad basada en los intereses del usuario</a>
                &nbsp;para saber cómo utilizamos las cookies para mostrarte los anuncios basados en intereses).
              </p>
              <li />
              <p>Informar. Esto nos permite considerar y analizar el rendimiento de nuestros servicios.</p>
            </ul>
            <p>Las cookies de Edomoo te ofrecen la posibilidad de aprovechar muchas de las funcionalidades esenciales de Edomoo.
              Por ejemplo, si rechazas o bloqueas nuestras cookies, no podrás añadir productos a la Cesta, acceder a la página de
              finalización del pedido ni usar ninguno de los productos o servicios de Edomoo que requieren que inicies una sesión.</p>
            <p>
              Los terceros autorizados también pueden utilizar cookies cuando interactúas con los servicios de Edomoo entre los que
              se incluyen motores de búsqueda, proveedores de servicios de medición y analíticos, redes sociales y compañías de
              publicidad. Los terceros utilizan cookies en el proceso para proporcionar contenidos, incluyendo anuncios relevantes
              para tus intereses, para medir la efectividad de sus anuncios y para prestar servicios en nombre de Edomoo.
              &nbsp;para saber más sobre los terceros que podrían utilizar cookies cuando utilizas los servicios de Edomoo.
            </p>
            <p>Puedes gestionar las cookies de tu navegador a través de la configuración de tu navegador. En la función “Ayuda”
              de la mayoría de los navegadores se indica cómo configurar tu navegador para que no acepte cookies nuevas, para que te
              notifique cada vez que recibes una nueva cookie, cómo desactivar cookies y cuándo caducarán las cookies. Si desactivas
              todas las cookies en tu navegador, ni nosotros ni terceros transferiremos cookies a tu navegador. Sin embargo, es
              probable que tengas que ajustar algunas de tus preferencias manualmente siempre que visites una página y que algunas
              de las herramientas y servicios no funcionen.</p>
            <p>
              <br />
          </div>
          <div class="col span_1_of_3">
            <div class="contact_info">
              <h2>Encuentranos aquí</h2>
              <div class="map">
                <iframe width="100%" height="175"
                  src="https://maps.google.co.in/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Lighthouse+Point,+FL,+United+States&amp;aq=4&amp;oq=light&amp;sll=26.275636,-80.087265&amp;sspn=0.04941,0.104628&amp;ie=UTF8&amp;hq=&amp;hnear=Lighthouse+Point,+Broward,+Florida,+United+States&amp;t=m&amp;z=14&amp;ll=26.275636,-80.087265&amp;output=embed"></iframe>
                <br> <small><a
                    href="https://maps.google.co.in/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Lighthouse+Point,+FL,+United+States&amp;aq=4&amp;oq=light&amp;sll=26.275636,-80.087265&amp;sspn=0.04941,0.104628&amp;ie=UTF8&amp;hq=&amp;hnear=Lighthouse+Point,+Broward,+Florida,+United+States&amp;t=m&amp;z=14&amp;ll=26.275636,-80.087265"
                    style="color: #666; text-align: left; font-size: 12px">Ver mapa más grande</a></small>
              </div>
            </div>
            <h2>
              EDOMDOO<br>Nombre de la compañía
            </h2>
            <p>C/ Lorem Ipsum Dolor Sit, 22</p>
            <p>Madrid</p>
            <p>ESPAÑA</p>
            <p>Tlf:(+34) 91 000 00 00 00</p>
            <p>Fax: (+34) 91 000 00 00 00</p>
            <p>
              Email:
              <span>
                <a href="mailto:info@mycompany.com">info@mycompany.com</a>
              </span>
            </p>
            <p>
              Síguenos en:
              <span>
                <a href="#">Facebook</a>
              </span>
              ,
              <span>
                <a href="#">Twitter</a>
              </span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Pie y menu corporativo -->
  <th:block th:include="fragments/footer :: footer" />
</body>
</html>