<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<!-- Fragmento de HEAD -->	
<head th:replace="fragments/header :: head" />

<body>
	<div class="wrap">

		<!-- Cabecera y menu de página -->
		<th:block th:include="fragments/header :: menu" />

		<!-- Contenido principal -->

	 <div class="main">
	    <div class="content">

	    	<div class="container-fluid">


        <div class="container">
			<div class="row">
				<div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
				<h4>Datos personales</h4>
					<form class="form-group" th:object="${usuario}" th:action="@{/datospersonales/save}" method="post">
			        		<input th:type="hidden" name="id" th:field="*{id}" />
			            	<div class="row">
			              		<div class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8">
					                <div class="form-group">
			                  			<label for="title">Nombre</label> <input type="text" class="form-control" th:field="*{name}" th:text="${err}"
			                    			th:class="${#fields.hasErrors('name')} ? 'form-control form-control-danger' : (*{name == null} ? 'form-control' : 'form-control form-control-success')"
			                    			placeholder="Introduce tu nombre" required="required" />
			               			</div>
					                <div class="form-group">
					                  <label for="title">Apellidos</label> <input type="text" class="form-control" th:field="*{lastname}"
					                    th:text="${err}"
					                    th:class="${#fields.hasErrors('lastname')} ? 'form-control form-control-danger' : (*{lastname == null} ? 'form-control' : 'form-control form-control-success')"
					                    placeholder="Introduce tus apellidos" required="required" />
					                </div>
					                <div class="form-group">
					                  <label for="title">Correo electrónico</label> <input type="email" class="form-control" th:field="*{email}"
					                    th:class="${#fields.hasErrors('email')} ? 'form-control form-control-danger' : (*{email == null} ? 'form-control' : 'form-control form-control-success')"
					                    placeholder="Introduce tu correo electrónico" required="required" />
					                </div>
								</div>
			           		</div>
			            <button type="submit" class="btn btn-primary">Guardar</button>
			          </form>
				
				</div>
				<div class="col-6 col-sm-6 col-md-6	col-lg-6 col-xl-6">
					<div class="row">
						<h4>Cambiar clave</h4>
						<form class="form-group" th:action="@{/datospersonales/pwd}" method="post">
		            		<div class="row">
		              			<div class="col-6 col-md-6">
	                				<div class="form-group">
		                  				<label for="title">Nueva contraseña</label> 
		                  				<input type="password" class="form-control" th:value="${clave}" name="clave"
			                	   			 	placeholder="Introduce tu contraseña" required="required" />
		               				</div>
								</div>
		           			</div>
			            	<button type="submit" class="btn btn-primary">Guardar</button>		            
			          	</form>
		          	</div>
		          	<hr>
					<div class="row">
						<div class="alert alert-danger col-11 col-sm-11 col-md-11 col-lg-11 col-xl-11" role="alert">
  							Puedes cancelar tu suscripción a edomdoo y solicitar baja en cualquier momento
						</div>
						<form class="form-group" th:action="@{/datospersonales/baja}" method="post">
			            	<button type="submit" class="btn btn-primary">Darme de baja</button>		            
			          	</form>
		          	</div>		          	
				</div>
			</div>
			

			


        </div>
      </div>
	    	
	 	</div>
	</div>
	</div>



	<!-- Pie y menu corporativo -->
	<th:block th:include="fragments/footer :: footer" />
	

</body>

</html>
