<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{fragments/layout}"
>
<head>
<title>Access Denied</title>
</head>
<body>
	<div layout:fragment="content" th:remove="tag">	
	<a th:href="@{'/'}"><img th:src="@{'/images/' + logo.png }" /></a>
		<h1>
			¡Vale!, no somos perfectos. <br> ¡Se ha producido un error!
		</h1>
		<p th:text="${errorMessage}" />
		<p>
			<a href="/" th:href="@{/}">Volver a la p&aacute;gina de inicio</a>
		</p>
	</div>
</body>
</html>