<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<!-- Fragmento de HEAD -->
<head th:replace="fragments/header :: head" />

<body>
  <div class="wrap">

    <!-- Cabecera y menu de página -->
    <th:block th:include="fragments/header :: menu" />

    <!-- Contenido principal -->
    <div class="main">
      <div class="content">
        <div class="alert alert-info" th:if="${outOfStockMessage}" th:utext="${outOfStockMessage}"></div>

        <div class="panel-default well">
          <h3>Historial de pedidos</h3>
          <div class="panel-heading">
            <table>
              <thead>
                <tr style="font-weight: bold; font-size: large;">
                  <th width="5%" class="text-center">Ord.</th>
                  <th width="10%" class="text-center">Fecha</th>
                  <th width="30%" class="text-left">Producto</th>
                  <th width="10%" class="text-right">Precio</th>
                  <th width="10%" class="text-center">Uds.</th>
                  <th width="10%" class="text-right">Total</th>
                  <th width="25%" style="padding-left: 10px;">Tienda</th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="pedido, pedidoStat : ${pedidosList}">
                  <td align="center"><span th:text="${pedidoStat.count}"></span></td>
                  <td align="center"><span th:text="${#dates.format(pedido.date, 'dd/MM/yyyy')}"></span></td>
                  <td><span th:text="${pedido.articulo.name}"></span></td>
                  <td align="right"><span th:text="${pedido.precioudEuros}"></span></td>
                  <td align="center"><span th:text="${pedido.unidades}"></span></td>
                  <td align="right"><span th:text="${pedido.totalEuros}"></span></td>
                  <td style="padding-left: 10px;"><span th:text="${pedido.vendor.name}"></span></td>
                </tr>
              </tbody>
            </table>
          </div>
          <br></br>
        </div>
      </div>
    </div>

  </div>

  <!-- Pie y menu corporativo -->
  <th:block th:include="fragments/footer :: footer" />

</body>
</html>