<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<!-- Fragmento de HEAD -->
<head th:replace="fragments/header :: head" />

<body>
  <div class="wrap">

    <!-- Cabecera y menu de página -->
    <th:block th:include="fragments/header :: menu" />

    <!-- Contenido principal -->
    <div class="main">
      <div class="content">
        <div class="alert alert-info" th:if="${outOfStockMessage}" th:utext="${outOfStockMessage}"></div>
        <div class="panel-default well">
          <div class="panel-heading">
          <!--  Vamos a suavizar un poco el mensaje, verdad ;-)  -->
            <h1>Está bien que quieras comprarnos algo, pero ¡No te has identificado!</h1>
            <hr>
            <h3>Para poder comprar, debes identificarte previamente. Gracias.</h3>
            <h4><a th:href="@{/login}">Haz clic aquí para ir a la página de Login.</a></h4>
          </div>
          <br></br>
        </div>
      </div>
    </div>
    
  </div>

  <!-- Pie y menu corporativo -->
  <th:block th:include="fragments/footer :: footer" />

</body>
</html>