<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<!-- Fragmento de HEAD -->
<head th:replace="fragments/header :: head" />

<body>
  <div class="wrap">

    <!-- Cabecera y menu de página -->
    <th:block th:include="fragments/header :: menu" />
    <th:block th:include="fragments/slider :: slider" />

    <!-- ------------------------------------------------- -->
    <!-- Contenido principal -->
    <div class="main">
      <div class="content">
        <div class="section group">
          <div th:each="producto, iterStat : ${productosList}">

            <div class="grid_1_of_4 images_1_of_4">

              <a th:href="@{'/producto/' + ${producto.id}}">
                <img class="max-height=100px;" th:src="@{'/images/' + ${producto.img}}" alt="${producto.name}" />

                <h2 th:text="${producto.name}">Nombre</h2>
                <p th:text="${producto.description}">Descripción</p>

                <p>
                  <span th:if="${producto.inOffer}">
                    <span class="strike" th:text="${producto.priceWithTaxEuros}">$528.22</span>
                    <span class="price" th:text="${producto.totalEuros}">$505.22</span>
                  </span>
                  <span th:unless="${producto.inOffer}">
                    <span class="price" th:text="${producto.totalEuros}">$505.22</span>
                  </span>
                </p>
              </a>

              <!-- Puntuacion -->
              <p>
              <th:block th:each="i: ${#numbers.sequence(0, producto.cal-1)}">
                  <i class="glyphicon glyphicon-star" style="color:red;"></i>
              </th:block>
              <span th:if="${producto.cal <5}">
              	<th:block th:each="i: ${#numbers.sequence(producto.cal+1, 5)}">
                  	<i class="glyphicon glyphicon-star" style="color:gainsboro;"></i>
              	</th:block>
              	</span>
              </p>

              <div class="button">
                <span>
                  <img th:src="@{/images/cart.jpg}" />
                  <a th:href="@{'/cesta/addProduct/' + ${producto.id}}" th:text="#{comun.addtocart}" class="cart-button">Añadir
                    al carrito</a>
                </span>
              </div>

              <div class="button">
                <span>
                  <a th:href="@{'/producto/' + ${producto.id}}" th:text="Detalles" class="details">Detalles</a>
                </span>
              </div>

            </div>

          </div>
        </div>

      </div>
    </div>
  </div>

  <!-- Pie y menu corporativo -->
  <th:block th:include="fragments/footer :: footer" />
</body>
</html>

