<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<!-- Fragmento de HEAD -->
<head th:replace="fragments/header :: head" />

<body>
	<div class="wrap">

		<!-- Cabecera y menu de página -->
		<th:block th:include="fragments/header :: menu" />

		<div class="main">
			<div class="content">
				<div class="login_panel">
					<h3>Usuario registrado</h3>
					<form th:action="@{/login}" method="post" id="member">
						<div th:if="${param.error}">
							<div class="alert alert-danger">Usuario o contraseña inválidos.</div>
						</div>
						<div th:if="${param.logout}">
							<div class="alert alert-info">Has salido.</div>
						</div>
						<input type="text" id="username" name="username" value="Usuario" class="field" onfocus="this.value = '';"
							onblur="if (this.value == '') {this.value = 'Usuario';}"
						> <input type="password" id="password" name="password" value="Password" class="field" onfocus="this.value = '';"
							onblur="if (this.value == '') {this.value = 'Password';}"
						>
					</form>

					<div class="buttons">
						<div>
							<button type="submit" form="member" class="grey">Entrar</button>
						</div>
					</div>
				</div>
				<div class="register_account">
					<h3>Registrar nuevo usuario</h3>
					<span th:if="${mensaje != null}" th:text="${mensaje}" class="text-danger"></span>
					<form class="form-group" th:object="${usuario}" th:action="@{/register}" method="post">
						<input id="role" th:field="*{role}" th:value="USER" th:type="hidden" />

						<div class="row">
							<div class="col- col-md-6">
								<div class="form-group">
									<input type="text" id="username" th:field="*{username}"
										th:class="${#fields.hasErrors('username')} ? 'form-control form-control-danger' : (*{username == null} ? 'form-control' : 'form-control form-control-success')"
										placeholder="Nombre de usuario" required="required"
									>
								</div>
								<div class="form-group">
									<input type="text" id="name" th:field="*{name}"
										th:class="${#fields.hasErrors('name')} ? 'form-control form-control-danger' : (*{name == null} ? 'form-control' : 'form-control form-control-success')"
										placeholder="Nombre" required="required"
									/>
								</div>
								<div class="form-group">
									<input type="text" id="lastname" th:field="*{lastname}"
										th:class="${#fields.hasErrors('lastname')} ? 'form-control form-control-danger' : (*{lastname == null} ? 'form-control' : 'form-control form-control-success')"
										placeholder="Apellidos" required="required"
									>
								</div>
								<div class="form-group">
									<input type="password" id="password" th:field="*{password}"
										th:class="${#fields.hasErrors('password')} ? 'form-control form-control-danger' : (*{password == null} ? 'form-control' : 'form-control form-control-success')"
										placeholder="Contraseña" required="required"
									>
								</div>
								<div class="form-group">
									<input type="email" id="email" th:field="*{email}"
										th:class="${#fields.hasErrors('email')} ? 'form-control form-control-danger' : (*{email == null} ? 'form-control' : 'form-control form-control-success')"
										placeholder="Email" required="required"
									>
								</div>

							</div>
						</div>

						<div class="search">
							<div>
								<button type="submit" class="grey">Crear cuenta</button>
							</div>
						</div>
						<p class="terms">
							Al hacer clic en 'Crear cuenta' aceptas los
							<a href="#">T&eacute;rminos y Condiciones</a>
							.
						</p>
						<div class="clear"></div>
					</form>
				</div>
				<div class="clear"></div>
			</div>
		</div>
	</div>
	<div class="clear"></div>
	<!-- Pie y menu corporativo -->
	<th:block th:include="fragments/footer :: footer" />

</body>
</html>

