<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<!-- Fragmento de HEAD -->	
<head th:replace="fragments/header :: head" />

<body>
	<div class="wrap">

		<!-- Cabecera y menu de página -->
		<th:block th:include="fragments/header :: menu" />

		<!-- Contenido principal -->

		 <div class="main">
		    <div class="content">
	    		<div class="section group">
			   	 	<div class="product-tags" th:each="tienda : ${tiendaList}">
						<h2>Vendedor: <span th:text="${tienda.name}"></span></h2>
						<h4>Servicios</h4>
						<span th:utext="${tienda.services}"></span>
		    		</div>				
				</div>
 			</div>
	 	</div>
	</div>

	<!-- Pie y menu corporativo -->
		<th:block th:include="fragments/footer :: footer" />
	
</body>

</html>
