<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<!-- Fragmento de HEAD -->
<head th:replace="fragments/header :: head" />

<body>
  <div class="wrap">

    <!-- Cabecera y menu de página -->
    <th:block th:include="fragments/header :: menu" />

    <!-- Contenido principal -->

    <div class="main">
      <div class="content">

        <div class="section group">
          <div class="cont-desc span_1_of_2">
            <div class="grid images_3_of_2">
              <img th:src="@{'/images/' + ${producto.img}}" alt="" />
            </div>
            <div class="desc span_3_of_2">
              <h2 th:text="${producto.name}"></h2>
              <p th:text="${producto.description}">.</p>
              <div class="price">
                <p>
                  Precio:
                  <!--  producto en oferta -->
                  <span th:if="${producto.inOffer}" style="color: black;">
                    <label th:text="${producto.priceWithTaxEuros}" style="text-decoration: line-through; color: red;"></label> <label
                      th:text="${producto.totalEuros}"> </label> Descuento <label th:text="${producto.discount}"> </label>
                  </span>
                  <!--  producto que no está en oferta -->
                  <span th:unless="${producto.inOffer}">
                    <label th:text="${producto.priceWithTaxEuros}"> </label>
                  </span>
                </p>
              </div>
              <div class="add-cart">
                <!-- VALORACIÓN DEL PRODUCTO -->
                <div class="rating">
                  <p>
                    Valoración media:
                    <th:block th:each="i: ${#numbers.sequence(0, producto.cal-1)}">
                      <i class="glyphicon glyphicon-star" style="color: red;"></i>
                    </th:block>
                    <span th:if="${producto.cal <5}">
                      <th:block th:each="i: ${#numbers.sequence(producto.cal+1, 5)}">
                        <i class="glyphicon glyphicon-star" style="color: gainsboro;"></i>
                      </th:block>
                    </span>
                  </p>
                </div>
                <div class="button">
                  <span>
                    <a class="btn btn-success" th:href="@{'/cesta/addProduct/' + ${producto.id}}" th:text="#{comun.addtocart}"></a>
                  </span>
                </div>
                <div class="clear"></div>
              </div>
              <style type="text/css">
a.hoverscore {
	color: gainsboro;
}

a.hoverscore:hover {
	color: red;
}
</style>
              <div class="add-cart" sec:authorize="hasAuthority('USER')">
                <!-- PUNTUACIÓN DEL PRODUCTO -->
                <div class="rating" th:if="${!puntuado}">
                  <!-- Lo mostramos si no se ha puntuado -->
                  <p>
                    Puntuar:
                    <a id="punto1" class="hoverscore" th:href="@{'/puntuar/' + ${producto.id} + '/' + ${1}}"
                      onmouseover="onhoverscore(this)">
                      <i class="glyphicon glyphicon-star"></i>
                    </a>
                    <a id="punto2" class="hoverscore" th:href="@{'/puntuar/' + ${producto.id} + '/' + ${2}}"
                      onmouseover="onhoverscore(this)">
                      <i class="glyphicon glyphicon-star"></i>
                    </a>
                    <a id="punto3" class="hoverscore" th:href="@{'/puntuar/' + ${producto.id} + '/' + ${3}}"
                      onmouseover="onhoverscore(this)">
                      <i class="glyphicon glyphicon-star"></i>
                    </a>
                    <a id="punto4" class="hoverscore" th:href="@{'/puntuar/' + ${producto.id} + '/' + ${4}}"
                      onmouseover="onhoverscore(this)">
                      <i class="glyphicon glyphicon-star"></i>
                    </a>
                    <a id="punto5" class="hoverscore" th:href="@{'/puntuar/' + ${producto.id} + '/' + ${5}}"
                      onmouseover="onhoverscore(this)">
                      <i class="glyphicon glyphicon-star"></i>
                    </a>
                  </p>
                </div>
                <div class="rating" th:if="${puntuado}">
                  <!-- Lo mostramos si no se ha puntuado -->
                  <h3>GRACIAS POR VALORAR EL PRODUCTO</h3>
                </div>
                <div class="clear"></div>
              </div>
            </div>
            <div class="product-desc">
              <h2>Características</h2>
              <span th:utext="${producto.features}"></span>
            </div>
            <div class="product-tags">
              <h2>
                Vendedor:
                <span th:text="${producto.vendorname}"></span>
              </h2>
              <h4>Servicios</h4>
              <span th:utext="${producto.vendorservices}"></span>
            </div>
          </div>
          <div class="rightsidebar span_3_of_1">
            <h2>MARCA</h2>
            <ul>
              <li><a th:href="@{/marcas/__${producto.brand}__}">
                  <span th:text="${producto.brandname}"></span>
                </a></li>
            </ul>
            <div class="subscribe">
              <h2>CATEGORÍA</h2>
              <ul>
                <li><a th:href="@{/categorias/__${producto.category}__}">
                    <span th:text="${producto.categoryname}"></span>
                  </a></li>
              </ul>
            </div>
            <div class="subscribe">
              <h2>Vendedor</h2>
              <ul>
                <li><a th:href="@{/tiendas/__${producto.vid}__}">
                    <span th:text="${producto.vendorname}"></span>
                  </a></li>
              </ul>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>



  <!-- Pie y menu corporativo -->
  <th:block th:include="fragments/footer :: footer" />


</body>
<script type="text/javascript">
 function onhoverscore(event) {
  if (event.id == "punto1") {
   $('#punto1').css('color', 'red');
   $('#punto2').css('color', 'gainsboro');
   $('#punto3').css('color', 'gainsboro');
   $('#punto4').css('color', 'gainsboro');
   $('#punto5').css('color', 'gainsboro');
  }
  if (event.id == "punto2") {
   $('#punto1').css('color', 'red');
   $('#punto2').css('color', 'red');
   $('#punto3').css('color', 'gainsboro');
   $('#punto4').css('color', 'gainsboro');
   $('#punto5').css('color', 'gainsboro');
  }
  if (event.id == "punto3") {
   $('#punto1').css('color', 'red');
   $('#punto2').css('color', 'red');
   $('#punto3').css('color', 'red');
   $('#punto4').css('color', 'gainsboro');
   $('#punto5').css('color', 'gainsboro');
  }
  if (event.id == "punto4") {
   $('#punto1').css('color', 'red');
   $('#punto2').css('color', 'red');
   $('#punto3').css('color', 'red');
   $('#punto4').css('color', 'red');
   $('#punto5').css('color', 'gainsboro');
  }
  if (event.id == "punto5") {
   $('#punto1').css('color', 'red');
   $('#punto2').css('color', 'red');
   $('#punto3').css('color', 'red');
   $('#punto4').css('color', 'red');
   $('#punto5').css('color', 'red');
  }
 }
</script>

</html>
