
<div class="contact-form">
  <h2>Edomdoo</h2>
  <p>Bienvenido a Edomdoo.es.</p>
  <p>Edomdoo EU Sarl, Edomdoo Europe Core SARL y las sociedades de su grupo (&quot;Edomdoo&quot;) te ofrecen funciones de sitio
    web y otros productos y servicios cuando visitas o compras en Edomdoo.es (el &quot;sitio web&quot;), utilizas los dispositivos,
    productos o servicios de Edomdoo, usas las aplicaciones de Edomdoo para dispositivos móviles o empleas software puesto a
    disposición por Edomdoo en relación con lo anterior (los &quot;Servicios de Edomdoo&quot; e individuamente, cada uno de ellos,
    el &quot;Servicio de Edomdoo&quot;). Consulta nuestro&nbsp; Aviso de privacidad , nuestro&nbsp; Aviso de Cookies &nbsp;y
    nuestro&nbsp; Aviso sobre publicidad basada en los intereses del usuario . Edomdoo te presta los Servicios de Edomdoo bajo las
    condiciones establecidas en esta página. Edomdoo.es es el nombre comercial de Edomdoo.</p>
  <p>Condiciones de Uso</p>
  <p>Condiciones de Venta</p>
  <h2 class="western"
    style="margin-top: 0cm; margin-bottom: 0cm; border: none; padding: 0cm; font-variant: normal; letter-spacing: normal; font-style: normal; line-height: 130%; orphans: 2; widows: 2">
    <b>Condiciones de Uso</b>
  </h2>
  <p>
     <b>Te rogamos que leas detenidamente las presentes condiciones antes de utilizar los Servicios de Edomdoo.
        Al utilizar los Servicios de Edomdoo, aceptas quedar vinculado por las presentes condiciones.&nbsp;</b> Ofrecemos una amplia gama de Servicios de Edomdoo y en ocasiones pueden aplicarse condiciones adicionales. Además, cada vez que
    utilices cualquier Servicio de Edomdoo, (por ejemplo: Edomdoo MP3, Lista de Deseos, Cheques regalo o aplicaciones de Edomdoo
    para dispositivos móviles), estarás igualmente sujeto a los términos y condiciones generales y a las condiciones particulares
    aplicables a dichos Servicios de Edomdoo (las &quot;Condiciones Generales de los Servicios&quot;). Las Condiciones Generales de
    los Servicios prevalecerán sobre las presentes Condiciones de Uso en caso de discrepancia entre ambas.
  </p>
  <p>Procedimiento y formulario de aviso de vulneración de derechos</p>
  <p>
     <b>1. Comunicaciones electrónicas</b>
  </p>
  <p>Cada vez que utilices un Servicio de Edomdoo o nos envíes un correo electrónico, un mensaje de texto (SMS) o cualquier otra
    comunicación desde tu ordenador o dispositivo móvil, estarás comunicándote electrónicamente con nosotros. Nosotros nos pondremos
    en contacto contigo electrónicamente por distintos medios, como por ejemplo mediante correo electrónico, mensajes de texto
    (SMS), notificaciones dentro de aplicaciones, o publicando mensajes o comunicaciones por correo electrónico en el sitio web o a
    través de cualquier otro Servicio de Edomdoo, como por ejemplo nuestro Servicio de mensajería. A efectos del presente contrato,
    aceptas que todos los contratos, avisos y otras notificaciones y comunicaciones que te enviemos por medios electrónicos
    satisfacen cualquier requisito de forma escrita, salvo que cualquier legislación aplicable con carácter imperativo exigiera una
    forma distinta de comunicación.</p>
  <p>
     <b>2. Recomendaciones y personalización</b>
  </p>
  <p>Como parte del Servicio de Edomdoo, te recomendaremos funcionalidades, productos y servicios, incluyendo anuncios de
    terceros, que podrían ser de tu interés, identificar tus preferencias y personalizar tu experiencia.</p>
  <p>
     <b>3. Derechos de autor, derechos de propiedad intelectual y derechos sobre bases de datos</b>
  </p>
  <p>Todo contenido alojado o puesto a disposición en cualquiera de los Servicios de Edomdoo, como por ejemplo texto, gráficos,
    logotipos, iconos de botones, imágenes, clips de audio, descargas digitales, y recopilaciones de datos son propiedad de Edomdoo
    o de sus proveedores de contenido y está protegido por las leyes de Luxemburgo, así como por la legislación internacional sobre
    derechos de propiedad intelectual, derechos de autor y derechos sobre bases de datos. El conjunto de todo el contenido albergado
    o puesto a disposición a través de cualquier Servicio de Edomdoo es propiedad exclusiva de Edomdoo, y está protegido por las
    leyes de Luxemburgo e internacionales sobre derechos de propiedad intelectual y derechos sobre bases de datos.</p>
  <p>No está permitida la extracción sistemática ni la reutilización de parte alguna del contenido de ninguno de los Servicios
    de Edomdoo sin nuestro expreso consentimiento por escrito. En particular, no se permite el uso de herramientas o robots de
    búsqueda y extracción de datos para la extracción (ya sea en una o varias ocasiones) de partes sustanciales de los Servicios de
    Edomdoo para su reutilización sin nuestro expreso consentimiento por escrito. Tampoco le está permitido al usuario crear ni
    publicar sus propias bases de datos cuando éstas contengan partes sustanciales de cualquiera de los Servicios de Edomdoo (por
    ejemplo, nuestras listas de productos y listas de precios) sin nuestro expreso consentimiento por escrito.</p>
  <p>
     <b>4. Marcas registradas</b>
  </p>
  <p>Puedes consultar un listado (no exhaustivo) de las marcas de enlace . De forma adicional, los gráficos, logotipos,
    encabezados de página, iconos de botón, scripts y nombres de servicio que aparecen incluidos o están disponibles a través de los
    Servicios de Edomdoo son marcas registradas o representan la imagen comercial de Edomdoo. No podrán utilizarse las marcas
    registradas ni la imagen comercial de Edomdoo en relación con ningún producto o servicio que no pertenezca a Edomdoo, ni en
    ninguna forma que fuera susceptible de causar confusión entre los usuarios o que pueda menospreciar o desacreditar a Edomdoo. El
    resto de marcas registradas que no son propiedad de Edomdoo y que aparecen incluidas o están disponibles a través de los
    Servicios de Edomdoo pertenecen a sus respectivos propietarios, quienes podrán o no estar afiliados o relacionados de cualquier
    modo con Edomdoo, o patrocinados por Edomdoo.</p>
  <p>
     <b>5. Patentes</b>
  </p>
  <p>Diversas patentes pertenecientes a Edomdoo son aplicables a los Servicios de Edomdoo, así como a las funciones y servicios
    accesibles a través de los mismos. Por otro lado, diferentes partes de los Servicios de Edomdoo operan en virtud de distintas
    licencias de una o varias patentes. Puedes consultar un listado (no exhaustivo) de las correspondientes patentes de Edomdoo y
    demás enlace .</p>
  <p>
     <b>6. Licencia y acceso</b>
  </p>
  <p>Sujeto a tu cumplimiento de estas Condiciones de Uso y las Condiciones Generales de los Servicios aplicables, así como al
    pago del precio aplicable, en su caso, Edomdoo o sus proveedores de contenidos te conceden una licencia limitada no exclusiva,
    no transferible y no sublicenciable, de acceso y utilización, a los Servicios de Edomdoo para fines personales no comerciales.
    Dicha licencia no incluye derecho alguno de reventa ni de uso comercial de los Servicios de Edomdoo ni de sus contenidos, ni
    derecho alguno a compilar ni utilizar lista alguna de productos, descripciones o precios. Tampoco incluye el derecho a realizar
    ningún uso derivado de los Servicios de Edomdoo ni de sus contenidos, ni a descargar o copiar información de cuenta alguna para
    el beneficio de otra empresa, ni el uso de herramientas o robots de búsqueda y extracción de datos o similar.</p>
  <p>Edomdoo y sus licenciantes, proveedores, editores, titulares de derechos u otros proveedores de contenidos se reservan
    cualquier derecho que no esté expresamente comprendido en estas Condiciones de Uso o en las Condiciones Generales de los
    Servicios.</p>
  <p>No está permitida la reproducción, duplicación, copia, venta, reventa o explotación de ningún tipo de los Servicios de
    Edomdoo ni de parte alguna de los mismos con fines comerciales, en cada caso sin nuestro previo consentimiento por escrito.</p>
  <p>Tampoco está permitido utilizar técnicas de framing para introducir cualquier marca comercial, logotipo u otra información
    protegida por derechos de autor (incluyendo imágenes, texto, diseños de página o formatos) de Edomdoo sin el correspondiente
    consentimiento previo por escrito. No está permitido el uso de metaetiquetas (meta tags) ni de ningún otro &quot;texto
    oculto&quot; que utilice los nombres o marcas registradas de Edomdoo sin nuestro consentimiento previo y por escrito.</p>
  <p>Te rogamos que hagas un uso correcto de los Servicios de Edomdoo. Sólo te está permitido utilizar los Servicios de Edomdoo
    de forma lícita. Cualquier incumplimiento por tu parte de estas Condiciones de Uso o de las Condiciones Generales de los
    Servicios supondrá la anulación del permiso o la licencia concedidos por Edomdoo.</p>
  <p>
     <b>7. Tu Cuenta</b>
  </p>
  <p>Para utilizar algunos de los Servicios de Edomdoo, es posible que necesites estar registrado con tu cuenta de Edomdoo y que
    cuentes con un método de pago válido asociado a dicha cuenta. Si hubiese algún problema para efectuar un cargo en el método de
    pago que hayas seleccionado, podremos efectuar el cargo en cualquier otro método de pago válido que esté asociado a tu
    cuenta.&nbsp; Haz clic aquí para gestionar tus métodos de pago.</p>
  <p>Cuando utilizas los Servicios de Edomdoo eres responsable de mantener la confidencialidad de los datos de tu cuenta y tu
    contraseña, así como de restringir el acceso a tu ordenador y a tus dispositivos. En la medida en que así lo permita la
    legislación aplicable, aceptas asumir la responsabilidad que proceda por todas las actividades realizadas desde tu cuenta o
    utilizando tu contraseña. Deberás tomar todas las medidas necesarias a efectos de asegurar y salvaguardar la confidencialidad de
    tu contraseña, y deberás informarnos inmediatamente en caso de que tengas motivos para creer que tu contraseña ha sido puesta en
    conocimiento de un tercero, o si ésta ha sido utilizada de manera no autorizada o es susceptible de serlo. Es tu responsabilidad
    comprobar que los datos que nos facilitas son correctos y completos, quedando asimismo obligado a informarnos inmediatamente
    cuando tenga lugar cualquier variación en la información que nos has facilitado. Puedes acceder a tu información y actualizarla
    a través del apartado&nbsp; Mi Cuenta &nbsp;del sitio web. Consulta nuestras páginas de Ayuda &quot;Protege tu Privacidad.</p>
  <p>No podrás utilizar ningún Servicio de Edomdoo: (i) en forma alguna que cause, o pueda causar, daño o perjuicio alguno a
    cualquiera de los Servicios de Edomdoo o la interrupción del acceso a los mismos; o (ii) para cualquier fin fraudulento, ni a
    efectos de la comisión de delito alguno u otra actividad ilícita de ningún otro tipo; o (iii) para generar cualquier tipo de
    molestia, inconveniente o ansiedad en un tercero.</p>
  <p>Nos reservamos el derecho a denegar el acceso al servicio, a cancelar cualesquiera cuentas y a eliminar o modificar
    cualquier contenido en caso de que el usuario incumpliera la legislación aplicable, las presentes Condiciones de Uso o
    cualesquiera otros términos y condiciones o políticas aplicables.</p>
  <p>
     <b>8. Opiniones, comentarios, comunicaciones y otros contenidos</b>
  </p>
  <p>Los usuarios podrán publicar sus opiniones y comentarios así como publicar otros contenidos, enviar comunicaciones,
    sugerencias, ideas, comentarios, preguntas u otra información, siempre que el contenido de las mismas no resulte ilícito,
    obsceno, abusivo, constituya un supuesto de amenaza o difamación, o invada la privacidad de terceros, infrinja derechos de
    propiedad intelectual o de cualquier otra forma resulte ofensivo para terceros o censurable, ni consista en o contenga virus
    informáticos, propaganda política o contenido publicitario, correos en cadena, envío masivo de correos o constituya cualquier
    otro tipo de &quot;spam&quot;. No está permitido el uso de direcciones de correo falsas, ni suplantar la identidad de otra
    persona o entidad, ni falsear de cualquier otro modo el origen de cualquier otro contenido. Nos reservamos el derecho (sin que
    no obstante, y en ausencia de un&nbsp; Formulario de Aviso &nbsp;válido, venga obligada a ello) a eliminar o modificar cualquier
    contenido. Si consideras que cualquier contenido de los Servicios de Edomdoo o cualquier material cuya venta estuviera
    publicitada en los mismos incluye cualquier afirmación difamatoria, o si entendieras que tus derechos de propiedad intelectual
    están siendo infringidos por cualquier elemento o información disponible en los Servicios de Edomdoo, te rogamos nos hagas saber
    dicha circunstancia a través de la cumplimentación y presentación del correspondiente&nbsp; Formulario de Aviso , al que
    responderemos.</p>
  <p>Si publicas opiniones, comentarios, preguntas o respuestas, u otro contenido elaborado por ti para publicarlo en el sitio
    web (incluyendo imágenes, vídeos o audio, conjuntamente, el “contenido”) nos otorgas:(a) una licencia no exclusiva y gratuita
    para utilizar, reproducir, publicar, poner a disposición, traducir y modificar tu contenido en todo el mundo (incluyendo el
    derecho a sublicenciar esos derechos a terceros); y (b) el derecho a utilizar el nombre facilitado por ti en relación con dicho
    contenido. La presente disposición no supone la transferencia de derecho moral alguno.</p>
  <p>Puedes elegir que tu contenido no sea público o, cuando sea posible, cambiar tus preferencias de manera que sólo puedan ver
    tu contenido aquellas personas a las que concedas acceso.</p>
  <p>Declaras y garantizas ser titular o de cualquier otra forma controlar la totalidad de los derechos sobre el contenido que
    pudieras publicar, manifestando y garantizado asimismo que a la fecha de la remisión de dicho contenido: (i) dicho contenido y
    material es exacto; y que (ii) la utilización de dicho contenido o material no supondrá incumplimiento alguno de las políticas o
    directrices aplicables de Edomdoo, ni supondrá perjuicio alguno a ninguna persona o entidad (garantizando asimismo que el
    contenido o material en cuestión no es de carácter difamatorio). Te comprometes a liberar a Edomdoo de cualesquiera
    reclamaciones presentadas por terceros contra Edomdoo derivadas de o en relación con dicho contenido y materiales, salvo en la
    medida en que dicha responsabilidad derive de la falta de supresión adecuada por nuestra parte de dicho contenido o material
    tras haber sido notificados (a través del correspondiente&nbsp; Formulario de Aviso ) del carácter ilícito de dicho contenido o
    material.</p>
  <p>
     <b>9. Reclamaciones sobre Propiedad Intelectual</b>
  </p>
  <p>Edomdoo respeta la propiedad intelectual de terceros. Si consideras que tus derechos de propiedad intelectual han podido
    ser infringidos, te rogamos que hagas uso de nuestra&nbsp; Política y Procedimiento de Reclamaciones por Infracción .</p>
  <p>
     <b>10. Condiciones Generales sobre el Software de Edomdoo</b>
  </p>
  <p>Todo software, incluidas las actualizaciones, mejoras y cualquier otra documentación relacionada con dicho software, que
    ponemos a tu disposición en cualquier momento en relación con los Servicios de Edomdoo (el &quot;Software de Edomdoo&quot;) está
    sujeto, además de a las presentes Condiciones de Uso y Venta, a las condiciones que puedes encontrar&nbsp; .</p>
  <p>
     <b>11. Otros negocios</b>
  </p>
  <p>Además de Edomdoo, terceros explotan tiendas, ofrecen sus servicios o venden líneas de producto a través del presente sitio
    web. De forma adicional, ofrecemos enlaces a los sitios web de sociedades de su grupo y de otras empresas. No somos responsables
    de examinar o calificar, ni en ningún caso garantizamos, las ofertas de ninguna de tales empresas o personas físicas, ni el
    contenido alojado en sus respectivos sitios web. No asumimos responsabilidad alguna por las acciones, productos y contenidos de
    ninguna de tales empresas o individuos o cualesquiera otros terceros. El cliente siempre estará informado sobre si un tercero
    participa en su operación y podremos compartir con dicho tercero cualquier información relativa a dicha operación. Te sugerimos
    que revises detenidamente las declaraciones de privacidad y demás condiciones de uso de tales terceros.</p>
  <p>
     <b>12. El papel de Edomdoo</b>
  </p>
  <p>Edomdoo permite a vendedores externos ofrecer y vender sus productos en Edomdoo.es. La página de detalles de estos
    productos contendrá la información correspondiente en el caso de que éstos fueran ofrecidos por vendedores externos. A pesar de
    que Edomdoo facilita las transacciones a través de Edomdoo Marketplace, Edomdoo no es ni el comprador ni el vendedor de los
    productos ofrecidos por vendedores externos. Edomdoo simplemente facilita un espacio donde compradores y vendedores pueden
    negociar y efectuar sus transacciones. Por consiguiente, el correspondiente contrato que se genera una vez se ha realizado la
    compra de cualquier producto vendido por un vendedor externo, concierne única y exclusivamente al comprador y al vendedor de
    dicho producto. Edomdoo no forma parte de ese contrato, no asume ninguna responsabilidad relacionada con el mismo, ni actúa como
    representante del vendedor. El vendedor es responsable de la venta de sus productos, así como de ofrecer asistencia en cuanto a
    las reclamaciones del comprador, o con respecto a cualquier asunto relacionado con dicho contrato entre el comprador y vendedor.
    No obstante, y debido a que Edomdoo desea garantizar al comprador un espacio seguro donde realizar sus compras, Edomdoo ofrece
    la Garantía de la A a la Z de Edomdoo, además de cualquier derecho que el consumidor pueda tener por disposición legal o
    contractual.</p>
  <p>
     <b>13. Nuestra responsabilidad</b>
  </p>
  <p>Realizaremos nuestros mejores esfuerzos para asegurar la disponibilidad, sin interrupciones, de los Servicios de Edomdoo,
    así como la ausencia de errores en cualquier transmisión de información que pudiera tener lugar. No obstante, y debido a la
    naturaleza misma de Internet, no es posible garantizar tales extremos. Asimismo, tu acceso a los Servicios de Edomdoo pudiera
    ocasionalmente verse suspendido o restringido a efectos de la realización de trabajos de reparación o mantenimiento, o la
    introducción de nuevos productos o servicios. Procuraremos limitar la frecuencia y duración de tales suspensiones o
    restricciones.</p>
  <p>Edomdoo no será responsable de (i) cualesquiera pérdidas que no fueran atribuibles a incumplimiento alguno por su parte,
    (ii) pérdidas empresariales (incluyendo lucro cesante, de ingresos, de contratos, de ahorros previstos, de datos, pérdida del
    fondo de comercio o gastos innecesarios incurridos), ni de (iii) cualesquiera pérdidas indirectas o de carácter consecuencial
    que no fueran razonablemente previsibles por ambas partes en el momento en que el usuario hubiera comenzado a utilizar los
    Servicios de Edomdoo. Tampoco seremos responsable de ninguna demora o falta de cumplimiento de nuestras obligaciones derivadas
    de las presentes condiciones si dicha demora o falta de cumplimiento fuera atribuible a circunstancias ajenas a nuestro control
    razonable. Esta disposición no afecta al derecho del cliente a recibir el producto o la prestación del correspondiente servicio
    en un plazo razonable, o a recibir el oportuno reembolso para el caso de que no pudiéramos suministrarle tales productos o
    servicios en un plazo razonable por cualquier causa ajena a nuestro control razonable.</p>
  <p>La legislación de algunos países pudiera no permitir alguno o la totalidad de los límites de responsabilidad previstos
    anteriormente. En caso de que dicha legislación te fuera de aplicación, alguno o la totalidad de dichos límites pudiera no ser
    aplicable. Asimismo, dicha legislación pudiera conferirte derechos adicionales a los aquí previstos.</p>
  <p>Nada de lo dispuesto en las presentes condiciones limita o excluye nuestra responsabilidad en caso de falsedad, ni en
    supuestos de fallecimiento o daños personales atribuibles a nuestra negligencia o dolo.</p>
  <p>
     <b>14. Ley aplicable</b>
  </p>
  <p>Las presentes condiciones se regirán e interpretarán de conformidad con las leyes del Gran Ducado de Luxemburgo (a
    excepción de sus disposiciones sobre conflicto de leyes), excluyéndose expresamente la aplicación de la Convención de las
    Naciones Unidas sobre los Contratos de Compraventa Internacional de Mercaderías. Si eres un consumidor y tienes tu residencia
    habitual en la Unión Europea, también contarás con la protección que pueda ofrecerte cualquier disposición imperativa de la
    legislación de tu país de residencia. Ambas partes acordamos someternos a la jurisdicción no exclusiva de los tribunales de
    distrito de la ciudad de Luxemburgo, lo que significa que podrás reclamar tus derechos como consumidor en relación con las
    presentes Condiciones de Uso tanto en Luxemburgo como en tu Estado Miembro de residencia en la Unión Europea.</p>
  <p>La Comisión Europea ofrece una&nbsp; plataforma para la resolución alternativa de conflictos , a la cual puedes acceder
    aquí:&nbsp; https://ec.europa.eu/consumers/odr/ . Si quieres comunicarnos cualquier asunto, por favor,&nbsp; contáctanos .</p>
  <p>
     <b>15. Modificación del Servicio o Variación de las Condiciones</b>
  </p>
  <p>Nos reservamos el derecho a realizar cambios en los Servicios de Edomdoo, en nuestras políticas y en nuestros términos y
    condiciones, incluyendo las presentes Condiciones de Uso y las Condiciones Generales de los Servicios, en cualquier momento.
    Quedarás sujeto a los términos y condiciones, políticas, Condiciones de Uso y Condiciones Generales de los Servicios vigentes a
    la fecha en que utilices los Servicios de Edomdoo. Si alguna de las presentes Condiciones de Uso o de las Condiciones Generales
    de los Servicios fuera declarada inválida, nula o por cualquier causa ineficaz, dicha condición se entenderá excluida sin que
    dicha declaración pueda afectar a la validez ni a la exigibilidad del resto de condiciones.</p>
  <p>
     <b>16. Renuncia</b>
  </p>
  <p>En caso de incumplimiento por tu parte de las presentes Condiciones de Uso, y aun cuando pudiéramos optar por no ejercitar
    cualesquiera derechos a nuestro alcance en dicho momento, podremos hacer uso de tales derechos y acciones en cualquier otra
    ocasión en la que pudieras incumplir nuevamente las presentes Condiciones de Uso.</p>
  <p>
     <b>17. Menores de edad</b>
  </p>
  <p>No vendemos productos a menores de edad. Los productos para niños que vendemos deben ser comprados por adultos. Los menores
    de 18 años sólo podrán utilizar los Servicios de Edomdoo bajo la supervisión de un padre o un tutor.</p>
  <p>
     <b>18. Nuestros datos</b>
  </p>
  <p>El presente sitio web es propiedad de Edomdoo Europe Core Sarl, quien es responsable asimismo de su mantenimiento. Los
    términos de uso y venta específicos de otros Servicios de Edomdoo, por ejemplo, del servicio de música MP3, que es explotado por
    Edomdoo Media EU Sarl, pueden encontrarse dentro de este mismo sitio web.</p>
  <p>
     <b>19. Procedimiento y formulario de aviso de vulneración de derechos</b>
  </p>
  <p>Si consideras que cualquiera de tus derechos ha sido vulnerado, te invitamos a cumplimentar y remitirnos el siguiente&nbsp;
    Formulario de Aviso . Responderemos de forma inmediata a aquellos titulares de derechos y a sus representantes que pudieran
    cumplimentar y presentar el Formulario de Aviso a efectos de comunicarnos cualquier inquietud que pudieran tener en relación con
    cualquier supuesta infracción de sus derechos.</p>
  <p>Una vez recibamos el Formulario de Aviso, podremos iniciar diversas actuaciones, que podrán incluir la supresión de la
    información o producto en cuestión, sin que ello implique en ningún caso admisión alguna de responsabilidad y sin perjuicio de
    cualquier derecho, acción o defensa que pudiera asistirnos, todos los cuales quedan expresamente reservados. Asimismo, y en
    virtud de la remisión por tu parte de un Formulario de Aviso, se entenderá que otorgas a favor de Edomdoo el derecho a utilizar,
    reproducir, modificar, adaptar, publicar, traducir, crear cualesquiera obras derivadas a partir de dicho contenido y exhibir las
    mismas en todo el mundo y a través de cualquier medio. Lo anterior incluye el derecho a nuestro favor a remitir el Formulario de
    Aviso a las partes que hubieran facilitado el contenido supuestamente infractor. Te comprometes a exonerar de responsabilidad a
    Edomdoo respecto de cualesquiera reclamaciones presentadas por terceros frente a Edomdoo derivadas de o relativas a la
    presentación de un Formulario de Aviso.</p>
  <p>
     <b>Aviso relativo a las ofertas de venta de vendedores externos</b> : Ten en cuenta que las ofertas de venta de vendedores externos están meramente alojadas en Edomdoo.es y se incluyen
    exclusivamente previa indicación y a petición exclusivamente de los vendedores externos, cuyos datos de contacto figuran en el
    respectivo apartado de &quot;Información sobre el Vendedor&quot;, accesible a través de cualquiera de tales ofertas.
  </p>
  <p>
     <b>Definiciones de ASIN e ISBN-10</b> : ASIN significa &quot;Edomdoo Standard Item (or Identification) Number&quot; (Número de Artículo o de Identificación Estándar
    de Edomdoo) y representa un identificador propio de Edomdoo.es formado por diez (10) caracteres. Este número figura en la ficha
    descriptiva de cada producto en el apartado &quot;Detalles del producto&quot;. “ISBN-10” significa &quot;International Standard
    Book Number&quot; (Número Estándar Internacional de Libro) y es un identificador formado por diez (10) dígitos que figuran en
    algunas fichas descriptivas de libros en el apartado &quot;Detalles del producto&quot;.
  </p>
  <p>
     <b>Aviso importante</b> : Facilitar información falsa, engañosa o incorrecta en el Formulario de Aviso puede dar lugar a responsabilidades tanto
    civiles como penales. Si tienes dudas al respecto, te recomendamos que consultes con tu asesor legal.
  </p>
  <p>
     <b>20. Condiciones de Uso adicionales del Software de Edomdoo</b> &nbsp;
  </p>
  <ol>
    <li />
    <p>
       <b>Uso del software de Edomdoo.</b>&nbsp;Podrás utilizar el Software de Edomdoo única y exclusivamente para utilizar y disfrutar de los Servicios de Edomdoo que
      te facilita Edomdoo, según permiten las Condiciones de Uso, estas Condiciones de Uso de Software y las Condiciones Generales
      de los Servicios. No podrás separar ninguno de los componentes individuales del Software de Edomdoo para usarlos en tus
      propios programas o compilar cualquier parte de ello junto con tus programas, ni transferirlo para su uso junto con otro
      servicio, ni podrás vender, alquilar, arrendar, prestar, distribuir ni otorgar sublicencias ni ceder de cualquier otro modo
      ningún derecho del Software de Edomdoo, ya sea en parte o en su totalidad. No puedes utilizar el Software de Edomdoo para un
      uso ilegal. Podremos anular la prestación del Software de Edomdoo y denegarte el derecho de uso del Software de Edomdoo en
      cualquier momento. En caso de incumplimiento de estas Condiciones de Uso de Software, las Condiciones de Uso de Edomdoo y
      otras Condiciones Generales de los Servicios, tus derechos de uso del Software Edomdoo cesarán sin notificación previa.
      Existen condiciones adicionales contenidas o distribuidas junto con el Software de Edomdoo, según se especifican en la
      documentación relacionada que son aplicables al Software de Edomdoo (o software incorporado al Software de Edomdoo) y que
      prevalecerán en el uso de dicho software en caso de conflicto con las presentes Condiciones de Uso de Software. Todo el
      software utilizado por los Servicios de Edomdoo es propiedad de Edomdoo o sus proveedores de contenido software y está
      protegido por las leyes de Luxemburgo e internacionales sobre derechos de propiedad intelectual e industrial.
    </p>
    <li />
    <p>
       <b>Utilización de servicios de terceros.</b>&nbsp;Cuando utilices el Software de Edomdoo, puedes también estar utilizando uno o varios servicios de terceros, como pueden
      ser los servicios de datos de un soporte o proveedor de plataformas móviles por utilización de las redes inalámbricas. El uso
      de dichos servicios prestados por terceros puede estar sujeto a políticas adicionales, condiciones de uso y tasas aplicables.
    </p>
    <li />
    <p>
       <b>Prohibición de realizar actos de ingeniería inversa.</b>&nbsp;No te está permitido, ni tampoco incentivar, ayudar o autorizar a cualquier otra persona, a, copiar, realizar actos de
      ingeniería inversa, descompilar ni desensamblar, o de cualquier otra forma manipular, el Software de Edomdoo, ya sea en parte
      o en su totalidad, ni crear obras derivadas desde o sobre el Software de Edomdoo.
    </p>
    <li />
    <p>
       <b>Actualizaciones automáticas.</b>&nbsp;A fin de mantener tu Software de Edomdoo actualizado, puede que te ofrezcamos, sin previa notificación al efecto,
      actualizaciones ocasionales automáticas o manuales.
    </p>
  </ol>
  <p>Esta información también está disponible en catalán.&nbsp;Haz clic&nbsp; aquí &nbsp;para consultar esta página en catalán.</p>
  <p>En caso de discrepancia entre la traducción al catalán de la versión en castellano de este texto y la versión en
    castellano, prevalecerá esta última.</p>
  <h2>
    <b>Condiciones de venta</b>
  </h2>
  <p>Las presentes Condiciones de Venta se aplican a la venta de productos por parte de Edomdoo EU Sarl. Además, cada vez que
    utilices cualquier servicio presente o futuro de Edomdoo.es (por ejemplo: el Servicio Edomdoo MP3 o Kindle) estarás igualmente
    sujeto a los términos y condiciones generales y a las condiciones particulares aplicables a dicho servicio (las
    &quot;Condiciones Generales&quot;). Dichas Condiciones Generales prevalecerán sobre las presentes Condiciones de Venta en caso
    de discrepancia entre ambas.</p>
  <p>
     <b>Te rogamos que leas detenidamente las presentes condiciones antes de cursar tu pedido a Edomdoo EU
        Sarl. Al cursar tu pedido a Edomdoo EU Sarl, aceptas quedar vinculado por las presentes condiciones.</b>
  </p>
  <p>
     <b>1. Nuestro contrato</b>
  </p>
  <p>Cuando realices tu pedido, te enviaremos un mensaje confirmando la recepción de tu pedido. Si estuvieras utilizando ciertos
    Servicios de Edomdoo (e.g., aplicaciones móviles de Edomdoo), la confirmación de tu pedido podría publicarse en el Servicio de
    mensajería del sitio web. Asimismo, te informaremos sobre el envío de tus productos. Podrás no obstante modificar tu pedido
    antes de que el pedido entre en el proceso de envío.</p>
  <p>Aceptas recibir facturas de tus compras electrónicamente. Las facturas electrónicas serán facilitadas en formato PDF en la
    sección&nbsp; Mi Cuenta &nbsp;de la página web. Asimismo, puedes obtener una copia de tu factura en papel contactándonos
    gratuitamente por e-mail, chat o teléfono a través del siguiente enlace:&nbsp; https://www.Edomdoo.es/contacto . Para más
    información sobre la factura electrónica y cómo recibirla en papel, por favor consulta nuestras&nbsp; páginas de ayuda .</p>
  <p>Únicamente vendemos productos en cantidades correspondientes a las necesidades típicas de un hogar medio. Esto se aplica
    tanto al número de productos solicitados en un mismo pedido como al supuesto en el que el cliente opta por cursar varios pedidos
    del mismo producto y dichos pedidos individuales comprenden las cantidades típicas necesarias para cubrir las necesidades de un
    hogar medio.</p>
  <p>
     <b>2. Derecho de desistimiento de 14 días, excepciones al derecho de desistimiento, garantía de devolución
        voluntaria y garantía legal de conformidad</b>
  </p>
  <p>DERECHO LEGAL</p>
  <p>A menos que aplique alguna de las excepciones que se describen a continuación, podrás desistir de tu pedido sin motivo
    alguno dentro de los 14 días naturales desde el día en que tú, o un tercero que hayas indicado (distinto del transportista),
    recibas los artículos comprados (o desde el último artículo, componente o pieza en caso de entrega de un bien compuesto por
    múltiples componentes o piezas), o desde el día de la conclusión del contrato en el caso de servicios o entrega de contenido
    digital no prestado en soporte material (es decir, no contenidos en soportes como CD o DVD).</p>
  <p>A estos efectos, debes informarnos (Edomdoo EU Sarl, 38 Avenue John F. Kennedy, L-1855 Luxemburgo) de tu decisión de
    desistir de tu pedido. Deberás enviar tu solicitud de acuerdo con las instrucciones y formularios disponibles en nuestro&nbsp;
    Centro de devoluciones &nbsp;o utilizando&nbsp;este formulario . En caso de que utilices el&nbsp; Centro de devoluciones ,
    Edomdoo te confirmará la recepción de la solicitud. Será suficiente con que envíes tu comunicación antes de que finalice el
    periodo de desistimiento de 14 días y devuelvas el artículo a través de nuestro Centro de Devoluciones.</p>
  <p>Edomdoo.es no asume la titularidad del producto devuelto hasta la recepción del mismo en la dirección de devolución.
    Edomdoo.es se reserva el derecho, a su discreción, a reembolsar el importe del producto sin exigir su devolución. En tal caso,
    la titularidad del producto cuyo precio hubiera sido reembolsado no pasará a Edomdoo.es.</p>
  <p>Para información adicional sobre el ámbito, contenido e instrucciones para el ejercicio de este derecho, por favor,
    contacta con nuestro&nbsp; Servicio de Atención al cliente .</p>
  <p>EFECTOS DEL DESISTIMIENTO</p>
  <p>Edomdoo te reembolsará el precio del producto y los gastos ordinarios de envío correspondientes a la opción de envío más
    barata que ofrezcamos, no más tarde de los 14 días siguientes al día en que recibamos la comunicación antes indicada. Edomdoo
    utilizará los mismos medios de pago que hubieras empleado para la transacción inicial, a menos que expresamente se acuerde otro
    medio. En cualquier caso, no soportarás ninguna tasa que pudiera derivarse de dicho reembolso. Podremos retener el reembolso
    hasta que hayamos recibido los artículos devueltos por ti o hasta que nos aportes prueba de haber devuelto los artículos, en
    función de lo que se produzca primero.</p>
  <p>Ten en cuenta que deberás devolver los artículos siguiendo las instrucciones disponibles en nuestro Centro de Devoluciones
    dentro de los 14 días siguientes al día en que nos comunicaste tu desistimiento. Deberás soportar los costes directos de la
    devolución de dichos artículos; y serás responsable de la disminución del valor de los bienes devueltos debido a la manipulación
    de los artículos (excepto cuando esa manipulación fuera necesaria para averiguar la naturaleza, características y funcionamiento
    de los artículos).</p>
  <p>EXCEPCIONES AL DERECHO DE DESISTIMIENTO</p>
  <p>El derecho de desistimiento no aplica a la entrega de:</p>
  <ul>
    <li />
    <p>
      Productos que no permitan su devolución debido a razones higiénicas o de protección de la salud, si los has desprecintado tras
      su entrega (por ejemplo, productos cosméticos), o que estuvieran, tras su entrega, inseparablemente mezclados con otros
      productos;</p>
    <li />
    <p>
      Productos que puedan deteriorarse o caducar con rapidez (por ejemplo, alimentos o productos perecederos o sometidos a fecha de
      caducidad);</p>
    <li />
    <p>
      Grabaciones sonoras o de video precintadas o software sellado, si los hubieras desprecintado tras su entrega;</p>
    <li />
    <p>
      Bienes realizados según tus especificaciones o claramente personalizados;</p>
    <li />
    <p>
      Un servicio, si Edomdoo ya lo hubiera prestado en su totalidad y, al solicitar dicho servicio, hubieras aceptado el inicio de
      la prestación del servicio y la imposibilidad de desistir del mismo una vez iniciada la prestación;</p>
    <li />
    <p>
      Contenido digital (incluyendo apps, software digital, e-books, MP3, etc.) que no hubiera sido entregado en un soporte material
      (es decir, no contenidos en soportes como CD o DVD) si hubieras consentido la ejecución en el momento de la entrega y sin que
      resulte posible tu desistimiento desde dicho momento;</p>
    <li />
    <p>
      Prensa diaria, publicaciones periódicas o revistas con la excepción de contratos de suscripción; y,</p>
    <li />
    <p>
      Bebidas alcohólicas cuyo precio haya sido acordado en el momento en que realizaste el pedido y que no puedan ser entregadas
      antes de 30 días, y cuyo valor real dependa de fluctuaciones en el mercado que no podamos controlar.</p>
  </ul>
  <p>NUESTRA GARANTÍA DE DEVOLUCIÓN VOLUNTARIA</p>
  <p>Sin perjuicio de tus derechos legales, Edomdoo te proporciona la siguiente garantía de devolución voluntaria:</p>
  <p>Los productos vendidos por Edomdoo EU SARL pueden ser devueltos dentro de los 30 días naturales desde la recepción de los
    mismos, a menos que alguna de las excepciones sean aplicables, y siempre que estén en la misma condición en la que fueron
    recibidos. Para más información haz clic&nbsp; aquí . Los productos deberán ser devueltos a través de nuestro Centro de
    Devoluciones online.</p>
  <p>Si devuelves los productos de acuerdo con esta garantía de devolución voluntaria, te devolveremos el precio del producto
    abonado, pero no los costes de envío de tu compra inicial. Tendrás que correr con el riesgo de transporte y los costes de
    devolución. Los costes originales de envío y devolución solo serán reembolsados en las devoluciones de ropa o calzado comprado
    en nuestras webs. Esta garantía de devolución no afecta a tus derechos legales y, por tanto, no afecta a tu derecho de
    desistimiento anteriormente descrito.</p>
  <p>Detalles y ejemplos relativos a devoluciones pueden encontrarse&nbsp; aquí .</p>
  <p>GARANTÍA LEGAL DE CONFORMIDAD</p>
  <p>Además de tus derechos legales y la garantía de 30 días de devolución voluntaria, los clientes en la Unión Europea (excepto
    Reino Unido) tendrán una garantía post-venta, de dos años desde la fecha de entrega del producto, para la reparación o reemplazo
    de productos comprados en Edomdoo si fueran defectuosos o disconformes con lo anunciado. Puedes solicitar el reembolso o la
    rebaja del precio del producto cuando no hubiera tenido lugar la reparación o remplazo del producto en un tiempo razonable o sin
    mayores inconvenientes para ti.</p>
  <p>En caso de productos de segunda mano, el periodo de garantía podrá ser menor pero siempre igual o superior a un año.</p>
  <p>Para información adicional sobre los términos y condiciones operacionales, por favor consulta nuestra&nbsp; Política de
    devoluciones .</p>
  <p>
     <b>3. Precios y disponibilidad</b>
  </p>
  <p>Todos los precios incluyen los impuestos legalmente aplicables (el IVA).</p>
  <p>Incluimos en el sitio web información sobre la disponibilidad de los productos que vendemos, detallándolo en la página de
    información de cada uno de los productos. No nos es posible ofrecer información más precisa sobre la disponibilidad de un
    producto, más allá de la que mostramos en la página de información del producto o en otros apartados del sitio web. Cuando
    procesemos tu pedido, te informaremos lo antes posible por correo electrónico o publicando un mensaje en el Servicio de
    mensajería del sitio web si cualquiera de los productos incluidos en tu pedido no se encontrara disponible. En tal caso, no te
    cobraremos importe alguno por dicho producto.</p>
  <p>Ten en cuenta que en algunos casos, no nos es posible confirmar una fecha de entrega concreta cuando realizas tu pedido. En
    estos supuestos, te facilitaremos nuestra mejor estimación, normalmente indicando un rango de días. Además, podrás consultar el
    estado de tu pedido en cualquier momento a través del apartado Mi Cuenta del sitio web o contactando con nuestro Servicio de
    Atención al cliente. En todo caso, la entrega será realizada dentro del plazo máximo de 30 días a partir de la realización de tu
    pedido, salvo que se acuerde otra cosa.</p>
  <p>Si deseas obtener más información al respecto, te rogamos que consultes nuestra&nbsp; Política de precios &nbsp;y la
    información sobre la&nbsp; disponibilidad , aplicables ambas a los productos vendidos en Edomdoo.es.</p>
  <p>
     <b>4. Información del producto</b>
  </p>
  <p>A menos que se indique expresamente lo contrario, Edomdoo no es el fabricante de los productos vendidos en el sitio web. Si
    bien nos esforzamos para que la información que aparece en nuestro sitio web sea correcta, en ocasiones el embalaje y los
    materiales de los productos pueden contener información adicional o distinta de la que aparece en nuestro sitio web. Los
    componentes también pueden cambiar. Te recomendamos que no te detengas a leer solamente la información disponible en nuestro
    sitio web si no que, antes de su utilización, leas también detenidamente el etiquetado, las advertencias e instrucciones que
    acompañen al producto.</p>
  <p>
     <b>5. Información Aduanera</b>
  </p>
  <p>Cuando realizas un pedido de productos en Edomdoo.es para su entrega en un país no perteneciente a la Unión Europea,
    podrías quedar obligado a abonar derechos e impuestos de importación, los cuales te serán cobrados en el momento en el que el
    paquete llegue a su destino. Cualquier importe adicional debido al despacho aduanero correrá de tu cuenta. Edomdoo.es no tiene
    control alguno sobre tales importes. Las políticas aduaneras varían significativamente de un país a otro por lo que, para mayor
    información, te rogamos consultes con la oficina aduanera correspondiente. Recuerda, además, que cuando realizas un pedido a
    Edomdoo.es formalmente la ley te considera como importador, y deberás por ello cumplir todas las leyes y reglamentos aplicables
    en el país en el que recibes el producto. Tu privacidad es una cuestión de gran importancia para nosotros. Queremos que nuestros
    clientes internacionales sean conscientes de que los envíos internacionales están sujetos a inspección y apertura por parte de
    las autoridades aduaneras. Para más información haz clic en&nbsp; Información aduanera .</p>
  <p>
     <b>6. Pedidos en &quot;1-Clic&quot;</b>
  </p>
  <p>El servicio de pedidos en &quot;1-Clic&quot; es la forma más rápida y sencilla de realizar pedidos de forma segura y
    efectiva en Edomdoo.es. Si estás utilizando un ordenador público o compartido, te recomendamos encarecidamente que desactives
    los pedidos en &quot;1-Clic&quot; cuando termines de usar el ordenador.</p>
  <p>
     <b>7. Nuestra responsabilidad</b>
  </p>
  <p>Ni Edomdoo.es ni las sociedades de su grupo serán responsable de (i) cualesquiera pérdidas que no fueran atribuibles a
    incumplimiento alguno por su parte, (ii) pérdidas empresariales (incluyendo lucro cesante, de ingresos, de contratos, de ahorros
    previstos, de datos, pérdida del fondo de comercio o gastos innecesarios incurridos), o de (iii) cualesquiera pérdidas
    indirectas o de carácter consecuencial que no fueran razonablemente previsibles por ambas partes en el momento en que se
    formalizó el contrato de compraventa de los productos entre ambas partes.</p>
  <p>La legislación de algunos países pudiera no permitir alguno o la totalidad de los límites de responsabilidad previstos
    anteriormente. En caso de que dicha legislación te fuera de aplicación, alguno o la totalidad de dichos límites pudieran no ser
    aplicables. Asimismo dicha legislación pudiera conferirte derechos adicionales a los aquí previstos.</p>
  <p>Nada de lo dispuesto en las presentes condiciones limita o excluye nuestra responsabilidad en caso de falsedad, ni por
    fallecimiento o daños personales atribuibles a nuestra negligencia o dolo.</p>
  <p>Asimismo Edomdoo.es no será responsable de ninguna demora o incumplimiento de sus obligaciones derivadas de las presentes
    condiciones si dicha demora o incumplimiento fuera atribuible a circunstancias ajenas a nuestro control razonable. Esta
    disposición no afecta a su derecho a recibir el producto en un plazo razonable. Si la demora tuviera lugar con carácter anterior
    a la remisión del producto, Edomdoo.es no te cobrará importe alguno por dicho producto hasta que el mismo te fuera remitido, en
    cuyo caso podrás cancelar el pedido en cualquier momento previo a dicha expedición.</p>
  <p>Los términos y condiciones de la garantía que Edomdoo.es ofrece sobre sus productos varían en función de la persona que
    realiza la compra: un &quot;consumidor&quot; o bien otra persona que &quot;actúe con fines que entran en el marco de su
    actividad profesional&quot;, de conformidad con lo dispuesto en la Directiva 1999/44/CE del Parlamento Europeo y del Consejo.</p>
  <p>Si adquieres el producto en tu condición de &quot;consumidor&quot;, tienes derecho a la garantía de conformidad prevista en
    la legislación según la cual el bien entregado ha de ser conforme al contrato, y a la que legalmente viene obligado el vendedor
    (Garantía Legal). Para más información sobre el ámbito, contenido e instrucciones para el ejercicio de esta Garantía Legal, te
    rogamos consultes nuestros&nbsp; Términos y Condiciones de la Garantía Legal &nbsp;o contactes con nuestro&nbsp; Servicio de
    Atención al cliente .</p>
  <p>De forma adicional, podrías tener derecho a cualquier otra garantía (la Garantía Comercial) que en tu caso pudiera otorgar
    el fabricante o un tercero. Generalmente el nombre de la entidad que otorga la Garantía Comercial, así como los términos y
    condiciones de la misma figura en la documentación incluida en el embalaje del producto, que te invitamos a leer y conservar en
    tu poder.</p>
  <p>Edomdoo.es no será responsable del cumplimiento de las obligaciones previstas en la Garantía Comercial ofrecida por
    terceros.</p>
  <p>
     <b>8. Ley aplicable</b>
  </p>
  <p>Las presentes condiciones se regirán e interpretarán de conformidad con las leyes del Gran Ducado de Luxemburgo (a
    excepción de sus disposiciones sobre conflicto de leyes), excluyéndose expresamente la aplicación de la Convención de las
    Naciones Unidas sobre los Contratos de Compraventa Internacional de Mercaderías. Ambas partes acordamos someternos a la
    jurisdicción no exclusiva de los tribunales de distrito de la ciudad de Luxemburgo, lo que significa que podrás reclamar tus
    derechos como consumidor en relación con las presentes Condiciones de Venta tanto en Luxemburgo como en tu Estado Miembro de
    residencia de la Unión Europea. Si eres un consumidor y tienes tu residencia habitual en la Unión Europea, también contarás con
    la protección que pueda ofrecerte cualquier disposición imperativa de la legislación de tu país de residencia.</p>
  <p>La Comisión Europea ofrece una plataforma para la resolución alternativa de conflictos, a la cual puedes acceder
    aquí:&nbsp; https://ec.europa.eu/consumers/odr/ &nbsp;Si quieres comunicarnos cualquier asunto, por fav or ponte en contacto con
    nosotros.</p>
  <p>
     <b>9. Modificación de las condiciones de venta</b>
  </p>
  <p>Nos reservamos el derecho a realizar cambios a nuestro sitio web, a nuestras políticas y a nuestros términos y condiciones,
    incluyendo a las presentes Condiciones de Venta, en cualquier momento. Quedarás sujeto a los términos y condiciones, políticas y
    Condiciones de Venta en vigor en el momento en que realices tu pedido, a menos que, por ley o por requerimiento de las
    autoridades públicas, se deba efectuar un cambio a dichos términos y condiciones, políticas o a las presentes Condiciones de
    Venta (en cuyo caso, tales cambios podrían resultar aplicables a cualesquiera pedidos que hubieras realizado anteriormente). Si
    alguna de las presentes condiciones fuera declarada inválida, nula o por cualquier causa ineficaz, dicha condición se entenderá
    excluida sin que dicha declaración pueda afectar a la validez ni a la exigibilidad del resto de condiciones.</p>
  <p>
     <b>10. Renuncia</b>
  </p>
  <p>En caso de incumplimiento por tu parte de las presentes Condiciones de Venta, y aún cuando Edomdoo.es pudiera no ejercitar
    cualesquiera derechos a su alcance en dicho momento, Edomdoo.es podrá hacer uso de tales derechos y acciones en cualquier otra
    ocasión en la que pudieras incumplir las presentes Condiciones de Venta.</p>
  <p>
     <b>11. Menores de edad</b>
  </p>
  <p>No vendemos productos a menores de edad. Los productos para niños que vendemos deben ser comprados por adultos. Los menores
    de 18 años sólo podrán utilizar Edomdoo.es bajo la supervisión de un padre o un tutor.</p>
  <p></p>
</div>